.card {
  position: relative;
  padding: 30px;
  color: var(--lido-color-primary);
  width: 100%;
  border-radius: var(--lido-border-radius-40);
  border: 1px solid var(--lido-color-borders-fog);

  &:hover {
    .headerLogos {
      display: flex;
    }
  }
}

.titleImage {
  padding: 15px;
  border-radius: 100%;
  border: 1px solid var(--lido-color-borders-fog);
  box-sizing: border-box;
  width: 86px;
  height: 86px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.headerLogos {
  display: none;

  & > *:not(:first-child) {
    margin-left: -10px;
  }

  .empty {
    backdrop-filter: blur(12px);
    font-size: var(--lido-font-size-body);
    line-height: var(--lido-line-height-body);
  }
}

.headerLogo {
  width: 38px;
  height: 38px;
  background: #f0f0f0;
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  border-radius: 100%;
  border: 1px solid var(--lido-color-borders-fog);
  box-sizing: border-box;
}

.button {
  margin-top: 20px;

  &.empty {
    padding-left: 0;
  }
}

.titleItem {
  font-size: var(--lido-font-size-subheader);
  line-height: var(--lido-line-height-subheader);
  font-weight: var(--lido-font-weight-regular);
  margin-bottom: 4px;
}

.descriptionItem {
  font-size: var(--lido-font-size-body);
  line-height: var(--lido-line-height-body);
  color: var(--lido-color-primary-7-static);
  font-weight: var(--lido-font-weight-regular);
  margin-bottom: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (width <= 899px) {
  .card {
    padding: 20px;

    &:hover {
      .headerLogos {
        display: none;
      }
    }
  }
}
