/* normalize.css */
@import url('./normalize.css');

@font-face {
  font-family: "Manrope";
  src: url("../assets/Manrope-VariableFont_wght.ttf");
}

/* generated via https://deploy-preview-15--upbeat-shirley-608546.netlify.app/perfect-ish-font-fallback/?font=Manrope */
@font-face {
  font-family: "Manrope-fallback";
  size-adjust: 102.91000000000001%;
  ascent-override: 110%;
  src: local("Arial");
}

/* should be main instead of html or body, otherwise chrome devtools behaves weirdly */
main {
  overflow: clip;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: "Manrope", "Manrope-fallback";
  background: var(--lido-color-background);
}

#storybook-root {
  width: 100%;
  background: var(--lido-color-background);
}

.docs-story>div>div {
  width: 100%;
  background: var(--lido-color-background);
}