.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s ease;

  &.opened {
    margin-bottom: 24px;
  }

  &:hover {
    .title {
      color: var(--lido-ui-color-text-primary-hover);
    }

    .chevronIcon {
      color: var(--lido-ui-color-icons-active);
    }
  }
}

.title {
  @mixin font-h5-bold;

  color: var(--lido-ui-color-text-primary);
  transition: color 0.2s ease;
}

.chevronIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
  flex-shrink: 0;
  color: var(--lido-ui-color-icons-primary);
  margin-left: 32px;

  &.opened {
    transform: rotate(180deg);
  }
}

.content {
  @mixin font-body-large;

  color: var(--lido-ui-color-text-secondary);

  & > * {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &.opened {
    & > * {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
}
