.tab {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 26px;
  padding: 2px 12px;
  border: none;
  border-radius: var(--lido-app-ui-border-radius-control-inactive);
  background-color: transparent;
  color: var(--lido-app-ui-color-text-secondary);
  font-family: var(--lido-app-ui-font-family);
  font-size: var(--lido-app-ui-font-size-label);
  font-weight: var(--lido-app-ui-font-weight-bold);
  line-height: var(--lido-app-ui-line-height-label);
  letter-spacing: var(--lido-app-ui-letter-spacing-label);
  cursor: pointer;
  transition: color 0.2s ease;
}

.tab:hover:not(:disabled, .active),
.tab:active:not(:disabled) {
  color: var(--lido-app-ui-color-text-primary);
}

.tab:active:not(:disabled) .content {
  opacity: var(--lido-app-ui-opacity-pressed-content);
}

.tab:disabled {
  color: var(--lido-app-ui-color-text-primary);
  cursor: not-allowed;
}

.tab:disabled .content {
  opacity: var(--lido-app-ui-opacity-disabled-content-compact);
}

.tab:focus-visible {
  outline: 2px solid var(--lido-app-ui-color-borders-focus);
  outline-offset: 2px;
}

.active {
  border-radius: var(--lido-app-ui-border-radius-control);
  color: var(--lido-app-ui-color-text-primary);
}

.content {
  display: inline-flex;
  align-items: center;
}
