.icon {
  grid-area: a;
  place-self: center center;
}

.light {
  composes: icon;
  visibility: var(--lido-dark-mode-visibility);
}

.dark {
  composes: icon;
  visibility: var(--lido-light-mode-visibility);
}

.themeToggler {
  display: inline-grid;
  grid-template-areas: 'a';
  min-width: 0;
  margin-left: var(--lido-space-sm);
  line-height: 0;
  font-size: 0;
  padding: 0;
  width: 44px;
  height: 44px;

  /* 
      button element contains span as children container, we want to bypass it.
      by aiming explicit "span:first-child" we're verifying that this is what we are aiming for
      witout breaking our SVGs 
    */
  & > span:first-child {
    display: contents;
  }
}
