.icon {
  --local-icon-size: 24px;

  font-family: var(--lido-ui-font-family);
  grid-area: a;
  place-self: center center;
}

.light {
  composes: icon;
  visibility: var(--lido-ui-dark-mode-visibility);
}

.dark {
  composes: icon;
  visibility: var(--lido-ui-light-mode-visibility);
}

.themeToggler {
  display: inline-grid;
  grid-template-areas: 'a';

  /* 
      button element contains span as children container, we want to bypass it.
      by aiming explicit "span:first-child" we're verifying that this is what we are aiming for
      witout breaking our SVGs 
    */
  & > span:first-child {
    display: contents;
  }
}
