html,
[data-lido-theme='light'] {
  --lido-color-darkThemeOpacity: 0;
  --lido-color-lightThemeOpacity: 1;
  --lido-color-lightModeVisibility: visible;
  --lido-color-darkModeVisibility: hidden;
  --lido-color-lightDisplay: initial;
  --lido-color-darkDisplay: none;
  --lido-color-primary: #00a3ff;
  --lido-rgb-primary: 0, 163, 255;
  --lido-color-primaryHover: #009bf2;
  --lido-rgb-primaryHover: 0, 155, 242;
  --lido-color-primaryContrast: #fff;
  --lido-rgb-primaryContrast: 255, 255, 255;
  --lido-color-primaryVisited: #4bbeff;
  --lido-rgb-primaryVisited: 75, 190, 255;
  --lido-color-accent: #27272e;
  --lido-rgb-accent: 39, 39, 46;
  --lido-color-accentContrast: #fff;
  --lido-rgb-accentContrast: 255, 255, 255;
  --lido-color-accentContrastSecondary: rgb(255 255 255 / 60%);
  --lido-color-accentDarken: rgb(0 0 0 / 20%);
  --lido-color-accentControlBg: rgb(239 242 246 / 56%);
  --lido-color-accentBorder: rgb(0 10 61 / 12%);
  --lido-color-accentBorderHover: rgb(0 10 61 / 24%);
  --lido-color-error: #e14d4d;
  --lido-rgb-error: 225, 77, 77;
  --lido-color-errorHover: #d44c4d;
  --lido-rgb-errorHover: 212, 76, 77;
  --lido-color-errorContrast: #fff;
  --lido-rgb-errorContrast: 255, 255, 255;
  --lido-color-warning: #ec8600;
  --lido-rgb-warning: 236, 134, 0;
  --lido-color-warningHover: #f0a431;
  --lido-rgb-warningHover: 240, 164, 49;
  --lido-color-warningContrast: #fff;
  --lido-rgb-warningContrast: 255, 255, 255;
  --lido-color-warningBackground: #fffae0;
  --lido-rgb-warningBackground: 255, 250, 224;
  --lido-color-textDark: #273852;
  --lido-rgb-textDark: 39, 56, 82;
  --lido-color-success: #53ba95;
  --lido-rgb-success: 83, 186, 149;
  --lido-color-successHover: #4ba886;
  --lido-rgb-successHover: 75, 168, 134;
  --lido-color-successContrast: #fff;
  --lido-rgb-successContrast: 255, 255, 255;
  --lido-color-secondary: #273852;
  --lido-rgb-secondary: 39, 56, 82;
  --lido-color-secondaryHover: #212f45;
  --lido-rgb-secondaryHover: 33, 47, 69;
  --lido-color-secondaryContrast: #fff;
  --lido-rgb-secondaryContrast: 255, 255, 255;
  --lido-color-background: #f2f4f6;
  --lido-rgb-background: 242, 244, 246;
  --lido-color-backgroundDarken: #dae0e5;
  --lido-rgb-backgroundDarken: 218, 224, 229;
  --lido-color-backgroundSecondary: #eff2f6;
  --lido-rgb-backgroundSecondary: 239, 242, 246;
  --lido-color-foreground: #fff;
  --lido-rgb-foreground: 255, 255, 255;
  --lido-color-overlay: rgb(0 0 0 / 50%);
  --lido-color-shadowLight: rgb(39 56 82 / 8%);
  --lido-color-shadowDark: rgb(0 0 0 / 25%);
  --lido-color-text: #273852;
  --lido-rgb-text: 39, 56, 82;
  --lido-color-textSecondary: #7a8aa0;
  --lido-rgb-textSecondary: 122, 138, 160;
  --lido-color-accentText: #273852;
  --lido-rgb-accentText: 39, 56, 82;
  --lido-color-border: rgb(0 10 61 / 12%);
  --lido-color-borderActive: rgb(0 10 61 / 48%);
  --lido-color-borderHover: rgb(0 10 61 / 24%);
  --lido-color-borderLight: #dfe5eb;
  --lido-rgb-borderLight: 223, 229, 235;
  --lido-color-controlBg: #fff;
  --lido-rgb-controlBg: 255, 255, 255;
  --lido-color-popupMenuItemBgActiveHover: #000a3d;
  --lido-rgb-popupMenuItemBgActiveHover: 0, 10, 61;
}

@media (prefers-color-scheme: dark) {
  html:not([data-lido-theme='light']) {
    --lido-color-darkThemeOpacity: 1;
    --lido-color-lightThemeOpacity: 0;
    --lido-color-lightModeVisibility: hidden;
    --lido-color-darkModeVisibility: visible;
    --lido-color-lightDisplay: none;
    --lido-color-darkDisplay: initial;
    --lido-color-primary: #00a3ff;
    --lido-rgb-primary: 0, 163, 255;
    --lido-color-primaryHover: #009bf2;
    --lido-rgb-primaryHover: 0, 155, 242;
    --lido-color-primaryContrast: #fff;
    --lido-rgb-primaryContrast: 255, 255, 255;
    --lido-color-primaryVisited: #4bbeff;
    --lido-rgb-primaryVisited: 75, 190, 255;
    --lido-color-accent: #27272e;
    --lido-rgb-accent: 39, 39, 46;
    --lido-color-accentContrast: #fff;
    --lido-rgb-accentContrast: 255, 255, 255;
    --lido-color-accentContrastSecondary: rgb(255 255 255 / 60%);
    --lido-color-accentDarken: rgb(0 0 0 / 20%);
    --lido-color-accentControlBg: rgb(39 39 46 / 56%);
    --lido-color-accentBorder: rgb(255 255 255 / 12%);
    --lido-color-accentBorderHover: rgb(255 255 255 / 24%);
    --lido-color-error: #e14d4d;
    --lido-rgb-error: 225, 77, 77;
    --lido-color-errorHover: #d44c4d;
    --lido-rgb-errorHover: 212, 76, 77;
    --lido-color-errorContrast: #fff;
    --lido-rgb-errorContrast: 255, 255, 255;
    --lido-color-warning: #ec8600;
    --lido-rgb-warning: 236, 134, 0;
    --lido-color-warningHover: #f0a431;
    --lido-rgb-warningHover: 240, 164, 49;
    --lido-color-warningContrast: #fff;
    --lido-rgb-warningContrast: 255, 255, 255;
    --lido-color-warningBackground: #fffae0;
    --lido-rgb-warningBackground: 255, 250, 224;
    --lido-color-textDark: #273852;
    --lido-rgb-textDark: 39, 56, 82;
    --lido-color-success: #53ba95;
    --lido-rgb-success: 83, 186, 149;
    --lido-color-successHover: #4ba886;
    --lido-rgb-successHover: 75, 168, 134;
    --lido-color-successContrast: #fff;
    --lido-rgb-successContrast: 255, 255, 255;
    --lido-color-secondary: rgb(255 255 255 / 80%);
    --lido-color-secondaryHover: #fff;
    --lido-rgb-secondaryHover: 255, 255, 255;
    --lido-color-secondaryContrast: #273852;
    --lido-rgb-secondaryContrast: 39, 56, 82;
    --lido-color-background: #1c1c21;
    --lido-rgb-background: 28, 28, 33;
    --lido-color-backgroundDarken: #131317;
    --lido-rgb-backgroundDarken: 19, 19, 23;
    --lido-color-backgroundSecondary: #27272e;
    --lido-rgb-backgroundSecondary: 39, 39, 46;
    --lido-color-foreground: #34343d;
    --lido-rgb-foreground: 52, 52, 61;
    --lido-color-overlay: rgb(0 0 0 / 50%);
    --lido-color-shadowLight: rgb(0 0 0 / 25%);
    --lido-color-shadowDark: rgb(0 0 0 / 50%);
    --lido-color-text: #fff;
    --lido-rgb-text: 255, 255, 255;
    --lido-color-textSecondary: rgb(255 255 255 / 80%);
    --lido-color-accentText: #fff;
    --lido-rgb-accentText: 255, 255, 255;
    --lido-color-border: rgb(255 255 255 / 12%);
    --lido-color-borderActive: rgb(255 255 255 / 48%);
    --lido-color-borderHover: rgb(255 255 255 / 24%);
    --lido-color-borderLight: #484855;
    --lido-rgb-borderLight: 72, 72, 85;
    --lido-color-controlBg: #2f2f37;
    --lido-rgb-controlBg: 47, 47, 55;
    --lido-color-popupMenuItemBgActiveHover: #fff;
    --lido-rgb-popupMenuItemBgActiveHover: 255, 255, 255;
  }
}

[data-lido-theme='dark'] {
  --lido-color-darkThemeOpacity: 1;
  --lido-color-lightThemeOpacity: 0;
  --lido-color-lightModeVisibility: hidden;
  --lido-color-darkModeVisibility: visible;
  --lido-color-lightDisplay: none;
  --lido-color-darkDisplay: initial;
  --lido-color-primary: #00a3ff;
  --lido-rgb-primary: 0, 163, 255;
  --lido-color-primaryHover: #009bf2;
  --lido-rgb-primaryHover: 0, 155, 242;
  --lido-color-primaryContrast: #fff;
  --lido-rgb-primaryContrast: 255, 255, 255;
  --lido-color-primaryVisited: #4bbeff;
  --lido-rgb-primaryVisited: 75, 190, 255;
  --lido-color-accent: #27272e;
  --lido-rgb-accent: 39, 39, 46;
  --lido-color-accentContrast: #fff;
  --lido-rgb-accentContrast: 255, 255, 255;
  --lido-color-accentContrastSecondary: rgb(255 255 255 / 60%);
  --lido-color-accentDarken: rgb(0 0 0 / 20%);
  --lido-color-accentControlBg: rgb(39 39 46 / 56%);
  --lido-color-accentBorder: rgb(255 255 255 / 12%);
  --lido-color-accentBorderHover: rgb(255 255 255 / 24%);
  --lido-color-error: #e14d4d;
  --lido-rgb-error: 225, 77, 77;
  --lido-color-errorHover: #d44c4d;
  --lido-rgb-errorHover: 212, 76, 77;
  --lido-color-errorContrast: #fff;
  --lido-rgb-errorContrast: 255, 255, 255;
  --lido-color-warning: #ec8600;
  --lido-rgb-warning: 236, 134, 0;
  --lido-color-warningHover: #f0a431;
  --lido-rgb-warningHover: 240, 164, 49;
  --lido-color-warningContrast: #fff;
  --lido-rgb-warningContrast: 255, 255, 255;
  --lido-color-warningBackground: #fffae0;
  --lido-rgb-warningBackground: 255, 250, 224;
  --lido-color-textDark: #273852;
  --lido-rgb-textDark: 39, 56, 82;
  --lido-color-success: #53ba95;
  --lido-rgb-success: 83, 186, 149;
  --lido-color-successHover: #4ba886;
  --lido-rgb-successHover: 75, 168, 134;
  --lido-color-successContrast: #fff;
  --lido-rgb-successContrast: 255, 255, 255;
  --lido-color-secondary: rgb(255 255 255 / 80%);
  --lido-color-secondaryHover: #fff;
  --lido-rgb-secondaryHover: 255, 255, 255;
  --lido-color-secondaryContrast: #273852;
  --lido-rgb-secondaryContrast: 39, 56, 82;
  --lido-color-background: #1c1c21;
  --lido-rgb-background: 28, 28, 33;
  --lido-color-backgroundDarken: #131317;
  --lido-rgb-backgroundDarken: 19, 19, 23;
  --lido-color-backgroundSecondary: #27272e;
  --lido-rgb-backgroundSecondary: 39, 39, 46;
  --lido-color-foreground: #34343d;
  --lido-rgb-foreground: 52, 52, 61;
  --lido-color-overlay: rgb(0 0 0 / 50%);
  --lido-color-shadowLight: rgb(0 0 0 / 25%);
  --lido-color-shadowDark: rgb(0 0 0 / 50%);
  --lido-color-text: #fff;
  --lido-rgb-text: 255, 255, 255;
  --lido-color-textSecondary: rgb(255 255 255 / 80%);
  --lido-color-accentText: #fff;
  --lido-rgb-accentText: 255, 255, 255;
  --lido-color-border: rgb(255 255 255 / 12%);
  --lido-color-borderActive: rgb(255 255 255 / 48%);
  --lido-color-borderHover: rgb(255 255 255 / 24%);
  --lido-color-borderLight: #484855;
  --lido-rgb-borderLight: 72, 72, 85;
  --lido-color-controlBg: #2f2f37;
  --lido-rgb-controlBg: 47, 47, 55;
  --lido-color-popupMenuItemBgActiveHover: #fff;
  --lido-rgb-popupMenuItemBgActiveHover: 255, 255, 255;
}
