.tag {
  font-family: var(--lido-ui-font-family);
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--lido-ui-border-radius-60);
}

.variant--outline {
  border: 1px solid var(--deprecated-lido-ui-color-borders-fog);
  color: var(--deprecated-lido-ui-color-primary);

  &.color--accent {
    border-color: var(--deprecated-lido-ui-color-borders-water-static);
    color: var(--deprecated-lido-ui-color-accent-ocean-static);
  }

  &.color--disabled {
    border-color: var(--deprecated-lido-ui-color-borders-fog);
    color: var(--deprecated-lido-ui-color-primary-20);
  }

  &.color--negative {
    border-color: var(--deprecated-lido-ui-color-accent-light-berry-static);
    color: var(--deprecated-lido-ui-color-accent-berry-static);
  }

  &.color--warning {
    border-color: var(--deprecated-lido-ui-color-accent-light-coral-static);
    color: var(--deprecated-lido-ui-color-accent-coral-static);
  }

  &.color--positive {
    border-color: var(--deprecated-lido-ui-color-accent-light-leaf-static);
    color: var(--deprecated-lido-ui-color-accent-leaf-static);
  }
}

.variant--filled {
  background-color: var(--deprecated-lido-ui-color-primary-6-static);
  color: var(--deprecated-lido-ui-color-primary-72);
  border: 1px solid var(--deprecated-lido-ui-color-borders-fog);
  border-color: transparent;

  &.color--accent {
    background-color: var(--deprecated-lido-ui-color-accent-light-ocean-static);
    color: var(--deprecated-lido-ui-color-accent-ocean-static);
    border-color: transparent;
  }

  &.color--disabled {
    background-color: var(--deprecated-lido-ui-color-primary-5-static);
    color: var(--deprecated-lido-ui-color-primary-20);
  }

  &.color--negative {
    background-color: var(--deprecated-lido-ui-color-accent-light-berry-static);
    color: var(--deprecated-lido-ui-color-accent-berry-static);
    border-color: transparent;
  }

  &.color--warning {
    background-color: var(--deprecated-lido-ui-color-accent-light-coral-static);
    color: var(--deprecated-lido-ui-color-accent-coral-static);
    border-color: transparent;
  }

  &.color--positive {
    background-color: var(--deprecated-lido-ui-color-accent-light-leaf-static);
    color: var(--deprecated-lido-ui-color-accent-leaf-static);
    border-color: transparent;
  }
}

/* Text */
.size--s {
  @mixin font-control;

  padding: 6px 20px;

  /* Manually set font size to override default font size */
  font-size: var(--lido-ui-font-size-body);
}

.size--m {
  @mixin font-control;

  padding: 10px 30px;
}

.size--l {
  @mixin font-control;

  padding: 17px 30px;
}

.withOnClose {
  padding-right: 14px;
}

.withIcon {
  padding-left: 8px;
}

/* Icon */
.icon {
  display: flex;
  align-items: center;
}

.icon-size--s {
  padding-left: 4px;
}

.icon-size--m {
  padding-left: 6px;
}

.icon-size--l {
  padding-left: 12px;
}

.closeButton {
  cursor: pointer;
}
