.tag {
  font-family: var(--lido-ui-font-family);
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  color: var(--lido-ui-color-text-secondary);
  line-height: var(--lido-ui-line-height-body-static);
  text-align: center;
  box-sizing: border-box;
  user-select: none;
}

.shape--rounded {
  border-radius: 60px;
}

.shape--squared {
  border-radius: 8px;

  &.withOnClose {
    padding-right: 12px;
  }
}

.variant--secondary {
  border: 1px solid var(--lido-ui-color-borders-default);
  color: var(--lido-ui-color-text-secondary);

  &.color--highlighted {
    border-color: var(--lido-ui-color-borders-hover);
    color: var(--lido-ui-color-text-link);

    svg {
      color: var(--lido-ui-color-icons-active);
    }
  }

  &.color--error {
    border-color: var(--lido-ui-color-borders-error);
    color: var(--lido-ui-color-text-error);

    svg {
      color: var(--lido-ui-color-icons-error);
    }
  }

  &.color--warning {
    border-color: var(--lido-ui-color-borders-warning);
    color: var(--lido-ui-color-text-warning);

    svg {
      color: var(--lido-ui-color-icons-warning);
    }
  }

  &.color--success {
    border-color: var(--lido-ui-color-borders-success);
    color: var(--lido-ui-color-text-success);

    svg {
      color: var(--lido-ui-color-icons-success);
    }
  }
}

.variant--primary {
  background-color: var(--lido-ui-color-backgrounds-grey);
  border: none;
  transition: background-color 0.3s ease-in-out;

  &.hoverable {
    &:hover {
      background-color: var(--lido-ui-color-backgrounds-grey-tags-hover);
    }
  }

  svg {
    color: var(--lido-ui-color-icons-secondary);
  }

  &.color--highlighted {
    background-color: var(--lido-ui-color-backgrounds-highlighted);
    color: var(--lido-ui-color-text-link);

    &.hoverable {
      &:hover {
        background-color: var(
          --lido-ui-color-backgrounds-highlighted-tags-hover
        );
      }
    }

    svg {
      color: var(--lido-ui-color-icons-active);
    }
  }

  &.color--error {
    background-color: var(--lido-ui-color-backgrounds-error);
    color: var(--lido-ui-color-text-error);

    &.hoverable {
      &:hover {
        background-color: var(--lido-ui-color-backgrounds-error-tags-hover);
      }
    }

    svg {
      color: var(--lido-ui-color-icons-error);
    }
  }

  &.color--warning {
    background-color: var(--lido-ui-color-backgrounds-warning);
    color: var(--lido-ui-color-text-warning);

    &.hoverable {
      &:hover {
        background-color: var(--lido-ui-color-backgrounds-warning-tags-hover);
      }
    }

    svg {
      color: var(--lido-ui-color-icons-warning);
    }
  }

  &.color--success {
    background-color: var(--lido-ui-color-backgrounds-success);
    color: var(--lido-ui-color-text-success);

    &.hoverable {
      &:hover {
        background-color: var(--lido-ui-color-backgrounds-success-tags-hover);
      }
    }

    svg {
      color: var(--lido-ui-color-icons-success);
    }
  }
}

.withIcon {
  --local-icon-size: 32px;

  gap: 8px;
  padding: 2px 16px 2px 2px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.withOnClose {
  gap: 8px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  position: relative;
  width: var(--local-icon-size);
  height: var(--local-icon-size);
  background: var(--lido-ui-color-backgrounds-grey);
  border-radius: 50%;
}

.icon {
  width: var(--local-icon-size);
  height: var(--local-icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
