.button {
  /* local var */
  --local-icon-padding: 4px;
  --local-button-border-width: 0px;
  --local-button-border-radius: var(--lido-ui-border-radius-34);

  @mixin font-body-large-bold;

  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--local-button-gap);
  padding: calc(
      var(--local-button-vertical-padding) - var(--local-button-border-width)
    )
    calc(
      var(--local-button-horizontal-padding) - var(--local-button-border-width)
    );
  border: none;
  font-family: inherit;
  text-decoration: none;
  border-radius: var(--local-button-border-radius);
  overflow: hidden;
  cursor: pointer;

  &.imitateHover,
  &:hover {
    .arrow {
      transform: translateX(3px);
      transition: transform 0.3s;
    }
  }

  &:disabled {
    cursor: not-allowed;
    outline: none;
    color: var(--lido-ui-color-text-quaternary);
    background-color: var(--lido-ui-color-buttons-disabled);

    &.imitateHover,
    &:hover {
      color: var(--lido-ui-color-text-quaternary);
      background-color: var(--lido-ui-color-buttons-disabled);

      .arrow {
        transform: translateX(0);
      }
    }

    .icon {
      color: var(--lido-ui-color-icons-quaternary);
    }

    .iconContainer {
      opacity: 0.3;

      &::before {
        border-color: var(--lido-ui-color-borders-default);
      }
    }

    .iconContainer.colored::before {
      border-color: var(--lido-ui-color-borders-active);
    }
  }

  &:not(:disabled):focus-visible {
    outline: 2px solid var(--lido-ui-color-text-primary-hover);
    outline-offset: 1px;
  }

  &.circle {
    --local-icon-size: 40px;
    --local-button-size: 40px;

    width: var(--local-button-size);
    height: var(--local-button-size);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.content {
  font-family: var(--lido-ui-font-family);
  flex: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: var(--local-button-gap);
}

.arrow {
  display: block;
  width: var(--local-arrow-size);
  height: var(--local-arrow-size);
  transition: transform 0.3s;
  transform: translateX(0);
}

.iconContainer {
  position: relative;
  width: var(--local-icon-wrapper-size);
  height: var(--local-icon-wrapper-size);
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--lido-ui-color-borders-inverted);
    border-radius: 50%;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
}

.withIcon {
  /* CSS variable for icon wrapper size based on button size */
  --local-icon-wrapper-size: 52px;

  .icon {
    width: var(--local-icon-size);
    height: var(--local-icon-size);
    pointer-events: none;
  }

  &.size--s:not(.circle) {
    padding: 4px 18px 4px 4px;

    --local-icon-wrapper-size: 40px;
    --local-icon-size: 32px;

    .iconContainer::before {
      display: none;
    }

    .colored {
      --local-icon-size: 40px;
    }
  }

  &.size--m:not(.circle) {
    padding: 6px 24px 6px 6px;

    --local-icon-wrapper-size: 48px;
    --local-icon-size: 32px;

    .colored {
      --local-icon-size: 48px;
    }
  }

  &.size--l:not(.circle) {
    padding: 8px 28px 8px 8px;

    --local-icon-wrapper-size: 52px;
    --local-icon-size: 32px;

    .colored {
      --local-icon-size: 52px;
    }
  }
}

/* Sizes */
.size--s {
  --local-button-vertical-padding: 8px;
  --local-button-horizontal-padding: 18px;
  --local-button-border-radius: var(--lido-ui-border-radius-24);
}

.size--s,
.size--m {
  --local-arrow-size: 20px;
  --local-button-gap: 8px;

  &.withIcon {
    --local-button-padding: 4px;
    --local-icon-size: 38px;
  }
}

.size--m {
  --local-button-vertical-padding: 14px;
  --local-button-horizontal-padding: 24px;
  --local-button-border-radius: var(--lido-ui-border-radius-30);
}

.size--l {
  --local-button-vertical-padding: 18px;
  --local-button-horizontal-padding: 28px;
  --local-arrow-size: 24px;
  --local-button-gap: 8px;
  --local-button-border-radius: var(--lido-ui-border-radius-34);

  &.withIcon {
    --local-button-padding: 10px;
    --local-icon-size: 32px;
  }
}

/* Colors */
.primary {
  color: var(--lido-ui-color-text-inverted);
  background-color: var(--lido-ui-color-buttons-primary);
  transition:
    color 0.5s,
    background-color 0.5s;

  &.imitateHover,
  &:hover {
    color: var(--lido-ui-color-buttons-text-primary-hover);
    background-color: var(--lido-ui-color-buttons-primary-hover);
    transition:
      color 0.3s,
      background-color 0.3s,
      border-color 0.3s;

    .iconContainer::before {
      border-color: var(--lido-ui-color-borders-buttons-icon-primary-hover);
      transition: border-color 0.3s;
    }
  }
}

.secondary {
  color: var(--lido-ui-color-buttons-text-static);
  background-color: var(--lido-ui-color-buttons-secondary);
  transition: background-color 0.5s;

  &.imitateHover,
  &:hover {
    background-color: var(--lido-ui-color-buttons-secondary-hover);
    transition: background-color 0.3s;
  }

  .iconContainer::before {
    border-color: var(--lido-ui-color-borders-buttons-icon-secondary);
  }
}

.tertiary {
  --local-button-border-width: 1px;

  color: var(--lido-ui-color-buttons-primary);
  background-color: transparent;
  border: 1px solid var(--lido-ui-color-borders-active);
  transition:
    color 0.5s,
    border-color 0.5s;

  &.imitateHover,
  &:hover {
    color: var(--lido-ui-color-buttons-primary-hover);
    border-color: var(--lido-ui-color-borders-hover);
    transition:
      color 0.3s,
      border-color 0.3s;
  }

  &:disabled {
    color: var(--lido-ui-color-text-quaternary);
    border-color: var(--lido-ui-color-borders-default);
    background-color: transparent;

    &.imitateHover,
    &:hover {
      color: var(--lido-ui-color-text-quaternary);
      border-color: var(--lido-ui-color-borders-default);
      background-color: transparent;
    }

    .iconContainer::before {
      display: none;
    }
  }

  & > * {
    font-weight: var(--lido-ui-font-weight-regular);
  }
}

/* Shapes */
.circle {
  --local-button-border-width: 1px;

  border-radius: 50%;
  background-color: transparent;
  color: var(--lido-ui-color-icons-primary);
  border: 1px solid var(--lido-ui-color-borders-default);
  transition:
    color 0.5s,
    border-color 0.5s;

  &.imitateHover,
  &:hover {
    background-color: transparent;
    color: var(--lido-ui-color-icons-active);
    border-color: var(--lido-ui-color-borders-hover);
    transition:
      color 0.3s,
      border-color 0.3s;
  }

  &.imitateActive,
  &:active {
    background-color: transparent;
    border-color: var(--lido-ui-color-borders-active);
    transition: border-color 0.3s;
  }

  &:disabled {
    background-color: transparent;

    .colored {
      opacity: 0.2;
    }

    &.imitateHover,
    &:hover {
      background-color: transparent;
      border-color: var(--lido-ui-color-borders-default);
    }
  }

  /* Cirsle sizes */
  &.circle-s {
    --local-button-size: 48px;
    --local-icon-size: 24px;

    .colored {
      --local-icon-size: 48px;
    }
  }

  &.circle-m {
    --local-button-size: 60px;
    --local-icon-size: 32px;

    .colored {
      --local-icon-size: 60px;
    }
  }

  &.circle-l {
    --local-button-size: 68px;
    --local-icon-size: 32px;

    .colored {
      --local-icon-size: 68px;
    }
  }

  &.noBorder {
    border: none;
  }
}

@media (width <=899px) {
  .hideArrowOnMobile {
    display: none;
  }
}
