.button {
  /* local var */
  --local-icon-padding: 4px;
  --local-button-border-width: 0px;

  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 0
    calc(var(--local-button-padding) - var(--local-button-border-width));
  height: var(--local-button-height);
  border: none;
  font-family: inherit;
  text-decoration: none;
  border-radius: var(--lido-ui-border-radius-60);
  overflow: hidden;
  cursor: pointer;

  &.imitateHover,
  &:hover {
    .arrow {
      transform: translateX(3px);
      transition: transform 0.3s;
    }
  }

  &:disabled {
    cursor: not-allowed;
    outline: none;
    color: var(--lido-ui-color-primary-20);
    background-color: var(--lido-ui-color-primary-8);

    &.imitateHover,
    &:hover {
      color: var(--lido-ui-color-primary-20);
      background-color: var(--lido-ui-color-primary-8);

      .arrow {
        transform: translateX(0);
      }
    }

    .icon {
      border-color: var(--lido-ui-color-borders-fog);
      color: var(--lido-ui-color-primary-20);
    }
  }

  &:not(:disabled):focus-visible {
    outline: 2px solid var(--lido-ui-color-borders-water-static);
    outline-offset: 1px;
  }

  &.size--l .icon,
  &.size--xl .icon {
    border-radius: 50%;
    border: 1px solid var(--lido-ui-color-borders-fog-reverse);
    box-sizing: border-box;
  }

  &:disabled.size--l .icon,
  &:disabled.size--xl .icon {
    border-color: var(--lido-ui-color-borders-fog);
  }

  &.circle {
    --local-icon-size: 40px;
    --local-button-size: 40px;

    width: var(--local-button-size);
    height: var(--local-button-size);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.content {
  font-family: var(--lido-ui-font-family);
  flex: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: var(--local-gap);
}

.arrow {
  display: block;
  width: var(--local-arrow-size);
  height: var(--local-arrow-size);
  transition: transform 0.3s;
  transform: translateX(0);
}

.spacer {
  display: none;
  flex: 0 1 calc(var(--local-gap) + var(--local-icon-size));
  min-width: calc(
    var(--local-button-spacer-min-width) - var(--local-button-padding)
  );
}

.withIcon {
  justify-content: space-between;

  .iconWrapper {
    position: relative;
    display: inline-flex;
    flex: 0 0 auto;
    width: calc(var(--local-icon-size) + var(--local-gap));
    height: var(--local-icon-size);
    box-sizing: border-box;
  }

  .content {
    flex: 1 0 auto;
    text-align: center;
  }

  .spacer {
    display: inline-block;
  }

  .icon {
    width: var(--local-icon-size);
    height: var(--local-icon-size);
  }
}

/* Sizes */
.size--s,
.size--m {
  --local-button-height: 46px;
  --local-button-padding: 24px;
  --local-arrow-size: 20px;
  --local-gap: 14px;
  --local-button-spacer-min-width: 24px;

  &.withIcon {
    --local-button-padding: 4px;
    --local-icon-size: 38px;
  }
}

.size--l {
  --local-button-height: 60px;
  --local-button-padding: 30px;
  --local-arrow-size: 24px;
  --local-gap: 20px;
  --local-button-spacer-min-width: 32px;

  &.withIcon {
    --local-button-padding: 10px;
    --local-icon-size: 40px;
  }
}

.size--xl,
.size--xxl {
  --local-button-height: 70px;
  --local-button-padding: 36px;
  --local-arrow-size: 24px;
  --local-gap: 20px;
  --local-button-spacer-min-width: 32px;

  &.withIcon {
    --local-button-padding: 10px;
    --local-icon-size: 50px;
  }
}

/* Fonts */
.normal {
  font-size: var(--lido-ui-font-size-control-not-adaptive);
  font-weight: var(--lido-ui-font-weight-regular);
}

.semibold {
  font-size: var(--lido-ui-font-size-control-not-adaptive);
  font-weight: var(--lido-ui-font-weight-bold);
  line-height: var(--lido-ui-line-height-control-not-adaptive);
}

.subhead {
  font-size: var(--lido-ui-font-size-subheader);
  font-weight: var(--lido-ui-font-weight-light);
  line-height: var(--lido-ui-line-height-subheader);
}

.description {
  font-size: var(--lido-ui-font-size-description);
  font-weight: var(--lido-ui-font-weight-regular);
  line-height: var(--lido-ui-line-height-description);
}

/* Colors */
.default {
  color: var(--lido-ui-color-primary-reverse);
  font-weight: var(--lido-ui-font-weight-bold);
  background-color: var(--lido-ui-color-primary);
  transition: background-color 0.5s;

  &.imitateHover,
  &:hover {
    background-color: var(--lido-ui-color-accent-ocean-static);
    transition: background-color 0.3s;
  }
}

.secondary {
  color: var(--lido-ui-color-white-static);
  background-color: var(--lido-ui-color-accent-ocean-static);
  transition: background-color 0.5s;

  &.imitateHover,
  &:hover {
    background-color: var(--lido-ui-color-accent-sky-static);
    transition: background-color 0.3s;
  }
}

.outline {
  --local-button-border-width: 1px;

  color: var(--lido-ui-color-primary);
  background-color: transparent;
  border: 1px solid var(--lido-ui-color-borders-fog);
  transition:
    color 0.5s,
    border-color 0.5s;

  &.imitateHover,
  &:hover {
    color: var(--lido-ui-color-accent-ocean-static);
    border-color: var(--lido-ui-color-accent-ocean-static);
    transition:
      color 0.3s,
      border-color 0.3s;
  }

  &:disabled {
    color: var(--lido-ui-color-primary-20);
    border-color: var(--lido-ui-color-primary-20);
    background-color: transparent;

    &.imitateHover,
    &:hover {
      background-color: transparent;
    }
  }

  & > * {
    font-weight: var(--lido-ui-font-weight-regular);
  }
}

.success {
  background-color: var(--lido-ui-color-accent-leaf-static);
  color: var(--lido-ui-color-white-static);
  transition: background-color 0.5s;
}

.transparent {
  background-color: transparent;
  color: var(--lido-ui-color-primary);
  outline: none;
  transition: color 0.5s;

  &.imitateHover,
  &:hover {
    background-color: transparent;
    color: var(--lido-ui-color-accent-ocean-static);
    transition: color 0.3s;
  }

  &:disabled {
    background-color: transparent;

    &.imitateHover,
    &:hover {
      background-color: transparent;

      .arrow {
        transform: translateX(0);
      }
    }
  }
}

/* Shapes */
.circle {
  --local-button-border-width: 1px;

  border-radius: 50%;
  background-color: transparent;
  color: var(--lido-ui-color-primary);
  border: 1px solid var(--lido-ui-color-borders-fog);
  transition:
    color 0.5s,
    border-color 0.5s;

  &.imitateHover,
  &:hover {
    background-color: transparent;
    color: var(--lido-ui-color-accent-ocean-static);
    border-color: var(--lido-ui-color-accent-ocean-static);
    transition:
      color 0.3s,
      border-color 0.3s;
  }

  &:disabled {
    color: var(--lido-ui-color-primary-20);
    border-color: var(--lido-ui-color-primary-20);
    background-color: transparent;

    .icon {
      color: var(--lido-ui-color-primary-20);
      border: none;
    }

    &.imitateHover,
    &:hover {
      background-color: transparent;
    }
  }

  /* Cirsle sizes */
  &.circle-s {
    --local-button-size: 40px;
    --local-icon-size: 38px;
  }

  &.circle-m {
    --local-button-size: 56px;
    --local-icon-size: 46px;
  }

  &.circle-l {
    --local-button-size: 70px;
    --local-icon-size: 58px;
  }

  &.circle-xl {
    --local-button-size: 86px;
    --local-icon-size: 56px;
  }

  &.circle-xxl {
    --local-button-size: 110px;
    --local-icon-size: 70px;
  }

  &.transparent {
    border: none;
  }
}

@media (width <= 899px) {
  .hideArrowOnMobile {
    display: none;
  }
}
