node_modules
dist
storybook-static
gh-pages
*.log
.jest-cache

# User-specific
.idea/
.vscode/
.DS_Store
.yarn
.turbo
**/.turbo

# Generated type declarations
**/.storybook/**/*.d.ts
**/.storybook/**/*.d.ts.map
