{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-prettier"
  ],
  "customSyntax": "postcss-styled-syntax",
  "rules": {
    "prettier/prettier": true,
    "custom-property-pattern": null,
    "no-empty-source": null
  }
}
