{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-prettier"
  ],
  "ignoreFiles": [
    "dist/**/*"
  ],
  "rules": {
    "prettier/prettier": true,
    "custom-property-pattern": null,
    "no-empty-source": null,
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["composes"]
      }
    ],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["mixin", "define-mixin"]
    }]
  }
}
