.wrap {
  --local-label-color: rgb(255 255 255 / 60%);
  --local-value-color: var(--lido-app-ui-color-text-inverted);
  --local-arrow-bg: var(--lido-app-ui-color-backgrounds-button-white);
  --local-arrow-border: var(--lido-app-ui-color-text-inverted);
  --local-arrow-icon: var(--lido-app-ui-color-text-primary);
  --local-arrow-hover: var(--lido-app-ui-color-overlay-button-white-hover);

  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.onLight {
  --local-label-color: rgb(0 0 0 / 60%);
  --local-value-color: var(--lido-app-ui-color-text-primary);
  --local-arrow-bg: var(--lido-app-ui-color-backgrounds-button-black);
  --local-arrow-border: var(--lido-app-ui-color-backgrounds-button-black);
  --local-arrow-icon: var(--lido-app-ui-color-text-inverted);
  --local-arrow-hover: var(--lido-app-ui-color-overlay-button-black-hover);
}

.row {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.stats {
  display: flex;
  flex: 1 0 0;
  gap: 16px;
  align-items: flex-start;
  min-width: 0;
}

.stat {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  min-width: 0;
}

.label {
  @mixin font-body;

  color: var(--local-label-color);
}

.valueRow {
  display: flex;
  gap: 6px;
  align-items: center;
}

.value {
  @mixin font-h3;

  color: var(--local-value-color);
  white-space: nowrap;
}

.icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.arrow {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  padding: 0;
  border: 1px solid var(--local-arrow-border);
  border-radius: 40px;
  background-color: var(--local-arrow-bg);
  color: var(--local-arrow-icon);
  cursor: pointer;
}

.arrow:hover {
  background-image: linear-gradient(
    var(--local-arrow-hover),
    var(--local-arrow-hover)
  );
}

.arrow:active {
  opacity: var(--lido-app-ui-opacity-pressed-content);
}

.arrow:focus-visible {
  outline: 2px solid var(--lido-app-ui-color-borders-focus);
  outline-offset: 2px;
}

.arrowIcon {
  width: 24px;
  height: 24px;
}

.mobileButton {
  display: none;
}

@media (--lido-app-ui-breakpoint-md-down) {
  .arrow {
    display: none;
  }

  .mobileButton {
    display: block;
    width: 100%;
  }

  .mobileButton > * {
    width: 100%;
  }
}

@media (--lido-app-ui-breakpoint-sm-down) {
  .stats {
    flex-direction: column;
    gap: 16px;
  }

  .stat {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .valueRow {
    justify-content: flex-end;
  }
}
