.banner {
  color: var(--lido-ui-color-white-static);
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 20px 10px;
  width: 100%;
  background: radial-gradient(
    37.01% 248.43% at 50% 50%,
    #c00734 10.3%,
    #ff265a 100%
  );
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  gap: 10px;
  font-size: var(--lido-ui-font-size-subheader);
  line-height: var(--lido-ui-line-height-subheader);
}

.title {
  color: var(--lido-ui-color-white-static);
  font-weight: var(--lido-ui-font-weight-medium);
  text-align: center;
  font-size: var(--lido-ui-font-size-h4);
  line-height: var(--lido-ui-line-height-h4);
}

.description {
  color: var(--lido-ui-color-white-static);
  text-align: center;
  font-weight: var(--lido-ui-font-weight-light);
  font-size: var(--lido-ui-font-size-subheader);
}

.button {
  margin-top: 5px;
}

.icon {
  margin-bottom: -5px;
}

@media (width <= 599px) {
  .title {
    font-size: 18px;
    font-weight: var(--lido-ui-font-weight-bold);
  }

  .description {
    font-weight: var(--lido-ui-font-weight-regular);
  }
}
