.dropdown {
  font-family: var(--lido-ui-font-family);
  position: relative;
}

.overlay {
  --local-ui-dropdown-border-radius-l: var(--lido-ui-border-radius-34);
  --local-ui-dropdown-border-radius-m: var(--lido-ui-border-radius-30);
  --local-ui-dropdown-border-radius-s: var(--lido-ui-border-radius-24);

  position: absolute;
  width: 100%;
  top: 0;
  border: 1px solid var(--lido-ui-color-borders-default);
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: var(--lido-ui-color-borders-hover);
  }

  &.isOpen {
    border-color: var(--lido-ui-color-borders-hover);
    z-index: 2;
  }

  &.isDisabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.overlay--size-l {
  /* 1.5px is a hack to make the dropdown border match the input size */
  padding-top: calc(var(--lido-ui-select-size-l) - 1.5px);
  border-radius: var(--local-ui-dropdown-border-radius-l);

  .overlayInner {
    border-bottom-left-radius: var(--local-ui-dropdown-border-radius-l);
    border-bottom-right-radius: var(--local-ui-dropdown-border-radius-l);
  }
}

.overlay--size-m {
  /* 1.5px is a hack to make the dropdown border match the input size */
  padding-top: calc(var(--lido-ui-select-size-m) - 1.5px);
  border-radius: var(--local-ui-dropdown-border-radius-m);

  .overlayInner {
    border-bottom-left-radius: var(--local-ui-dropdown-border-radius-m);
    border-bottom-right-radius: var(--local-ui-dropdown-border-radius-m);
  }
}

.overlay--size-s {
  /* 1.5px is a hack to make the dropdown border match the input size */
  padding-top: calc(var(--lido-ui-select-size-s) - 1.5px);
  border-radius: var(--local-ui-dropdown-border-radius-s);

  .overlayInner {
    border-bottom-left-radius: var(--local-ui-dropdown-border-radius-s);
    border-bottom-right-radius: var(--local-ui-dropdown-border-radius-s);
  }
}

.overlayInner {
  position: relative;
  background-color: rgb(255 255 255 / 1%);
  backdrop-filter: blur(30px);
  user-select: none;
  z-index: 2;
}

.isWithScroll {
  max-height: 300px;
  overflow: hidden auto;
}

.item {
  @mixin font-body-large-medium-static;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--lido-ui-color-text-primary-hover);
    transition: color 0.2s;
  }
}

.item--size-L {
  padding: 18px 42px 18px 28px;
  height: 68px;

  &.withIcon {
    padding: 8px;
  }
}

.item--size-M {
  padding: 14px 46px 14px 24px;
  height: 60px;

  &.withIcon {
    padding: 6px 8px 6px 6px;
  }
}

.item--size-S {
  padding: 8px 38px 8px 24px;
  height: 48px;

  &.withIcon {
    padding: 4px 18px 4px 4px;
  }
}

.icon {
  width: 32px;
  height: 32px;
}

.icon--size-L {
  padding: 10px;

  &.isColored {
    width: 52px;
    height: 52px;
    padding: 0;
  }
}

.icon--size-M {
  padding: 8px;

  &.isColored {
    width: 48px;
    height: 48px;
    padding: 0;
  }
}

.icon--size-S {
  padding: 4px;

  &.isColored {
    width: 40px;
    height: 40px;
    padding: 0;
  }
}
