.dropdown {
  font-family: var(--lido-ui-font-family);
  position: relative;
}

.overlay {
  max-height: 300px;
  overflow: hidden auto;
  position: absolute;
  width: 100%;
  top: 100%;
  border-radius: 24px;
  box-shadow: 0 4px 44px 0 #18284914;

  /* unique color */
  background-color: var(--deprecated-lido-ui-color-background-dropdown);
  backdrop-filter: blur(27px);
  margin-top: 8px;
  z-index: 1;
}

.item {
  font-size: var(--lido-ui-font-size-control-not-adaptive);
  line-height: var(--lido-ui-line-height-control-not-adaptive);
  cursor: pointer;

  &.sizeL {
    padding: 16px 24px;
  }

  &.sizeXL {
    padding: 24px;
  }

  &:hover {
    /* unique color */
    background-color: var(--deprecated-lido-ui-color-background-dropdown-hover);
  }
}
