.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  &.disabled {
    .icon:not(.isColored) {
      color: var(--lido-ui-color-text-quaternary);
    }

    .isColored {
      opacity: 0.3;
    }
  }
}

.select {
  @mixin font-body-large-medium-static;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  border: none;
  user-select: none;
  color: var(--lido-ui-color-text-primary);
  transition: color 0.3s ease-in-out;

  &::placeholder {
    color: var(--lido-ui-color-text-primary);
    transition: color 0.3s ease-in-out;
  }

  &:disabled {
    color: var(--lido-ui-color-text-quaternary);
    cursor: not-allowed;

    &::placeholder {
      color: var(--lido-ui-color-text-quaternary);
    }
  }

  &.open {
    transition: color 0.3s ease-in-out;
  }
}

/* Input size styles */
.input--size-l {
  padding: 18px 42px 18px 28px;
  height: var(--lido-ui-select-size-l);
  border-radius: var(--lido-ui-border-radius-34);

  &.withIcon {
    padding-left: 68px;
  }
}

.input--size-m {
  padding: 14px 38px 14px 24px;
  height: var(--lido-ui-select-size-m);
  border-radius: var(--lido-ui-border-radius-30);

  &.withIcon {
    padding-left: 62px;
  }
}

.input--size-s {
  padding: 8px 38px 8px 24px;
  height: var(--lido-ui-select-size-s);
  border-radius: var(--lido-ui-border-radius-24);

  &.withIcon {
    padding-left: 52px;
  }
}

/* Icon */
.arrow {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 24px / 2);
  width: 24px;
  height: 24px;
  transition: transform 0.15s ease-in-out 0.15s;

  &.open {
    transform: rotate(180deg);
    transition: transform 0.15s ease-in-out;
  }

  &.disabled {
    cursor: initial;

    path {
      fill: var(--lido-ui-color-text-quaternary) !important;
    }
  }
}

/* Icon size styles */
.arrow--size-l {
  right: 18px;
}

.arrow--size-m {
  right: 14px;
}

.arrow--size-s {
  right: 14px;
}

.icon--size-l {
  left: 8px;
  padding: 10px;

  &.isColored {
    width: 52px;
    height: 52px;
    padding: 0;
  }
}

.icon--size-m {
  left: 6px;
  padding: 8px;

  &.isColored {
    width: 48px;
    height: 48px;
    padding: 0;
  }
}

.icon--size-s {
  left: 4px;
  padding: 4px;

  &.isColored {
    width: 40px;
    height: 40px;
    padding: 0;
  }
}

.selectIcon {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  width: 32px;
  height: 32px;
}
