.link {
  text-decoration: none;
  color: var(--lido-color-primary);

  :hover {
    color: var(--lido-color-primaryHover);
  }
}

.link.fadedVisited {
  &:visited {
    color: var(--lido-color-primaryVisited);
  }
}
