.tooltip {
  font-family: var(--lido-ui-font-family);
  position: relative;
  display: inline-block;
}

.tooltip:hover .contentWrapper {
  display: block;
}

.contentWrapper {
  --tooltip-bridge-size: 30px;

  z-index: 1;
  display: none;
  position: absolute;
}

.content {
  position: relative;
  display: block;
  width: max-content;
  max-width: var(--lido-ui-local-tooltip-width, 352px);
  box-sizing: border-box;
  padding: 16px;
  background-color: var(--lido-ui-color-backgrounds-tooltip);
  backdrop-filter: blur(20px);
  color: var(--lido-ui-color-buttons-text-static);
  border-radius: 24px;
}

.text {
  @mixin font-description;
}

.triangle {
  position: absolute;
  width: 16px;
  height: 8px;
  pointer-events: none;
}

.triangle::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 8px;
  background-color: var(--lido-ui-color-backgrounds-tooltip);
  mask-image: url('data:image/svg+xml;utf8,<svg width="20" height="10" viewBox="0 0 20 10" xmlns="http://www.w3.org/2000/svg"><path d="M11.4142 8.58578C10.6332 9.36683 9.36683 9.36683 8.58579 8.58579L8.74228e-07 -1.74846e-06L20 9.53674e-07L11.4142 8.58578Z" fill="black"/></svg>');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

/* Position styles */
.position--right {
  left: 100%;
  padding-left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.position--right .triangle {
  left: -12px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.position--left {
  right: 100%;
  padding-right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.position--left .triangle {
  right: -12px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}

.position--top {
  bottom: 100%;
  padding-bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.position--top .triangle {
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}

.position--bottom {
  top: 100%;
  padding-top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.position--bottom .triangle {
  top: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.position--top-left,
.position--top-right,
.position--bottom-left,
.position--bottom-right {
  &::before {
    content: '';
    position: absolute;
    width: var(--tooltip-bridge-size);
    height: var(--tooltip-bridge-size);
    background: transparent;
  }
}

.position--top-left {
  bottom: 100%;
  right: 100%;

  .content {
    border-bottom-right-radius: 2px;
  }

  &::before {
    bottom: calc(var(--tooltip-bridge-size) / -2);
    right: calc(var(--tooltip-bridge-size) / -2);
  }
}

.position--top-right {
  bottom: 100%;
  left: 100%;

  .content {
    border-bottom-left-radius: 2px;
  }

  &::before {
    bottom: calc(var(--tooltip-bridge-size) / -2);
    left: calc(var(--tooltip-bridge-size) / -2);
  }
}

.position--bottom-left {
  top: 100%;
  right: 100%;

  .content {
    border-top-right-radius: 2px;
  }

  &::before {
    top: calc(var(--tooltip-bridge-size) / -2);
    right: calc(var(--tooltip-bridge-size) / -2);
  }
}

.position--bottom-right {
  top: 100%;
  left: 100%;

  .content {
    border-top-left-radius: 2px;
  }

  &::before {
    top: calc(var(--tooltip-bridge-size) / -2);
    left: calc(var(--tooltip-bridge-size) / -2);
  }
}
