.input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  box-sizing: border-box;
  cursor: text;
}

.input-wrapper-disabled {
  cursor: default;
}

.input-wrapper-fullwidth {
  width: 100%;
}

.input-decorator {
  flex-grow: 0;
  flex-shrink: 0;
  cursor: inherit;
  display: flex;
  align-items: center;
}

.input-decorator-left {
  padding-right: 16px;
}

.input-decorator-right {
  padding-left: 16px;
}

.input-message {
  margin-top: 6px;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 100%;
  line-height: 1.6em;
  font-weight: 400;
  font-size: var(--lido-font-size-xxs);
  border-radius: var(--lido-border-radius-sm);
  padding: 6px 10px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  text-overflow: ellipsis;
  z-index: 3;
}

.input-message-bordered {
  margin-top: 5px;
  left: -1px;
  max-width: calc(100% + 2px);
}

.input-message-error {
  background: var(--lido-color-error);
  color: var(--lido-color-error-contrast);
  box-shadow: var(--lido-shadows-sm) var(--lido-color-shadow-light);
}

.input-message-warning {
  background: var(--lido-color-warning);
  color: var(--lido-color-warning-contrast);
  box-shadow: var(--lido-shadows-sm) var(--lido-color-shadow-light);
}

.input-message-success {
  background: var(--lido-color-success);
  color: var(--lido-color-success-contrast);
  box-shadow: var(--lido-shadows-sm) var(--lido-color-shadow-light);
}

.input-label {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 1em;
  line-height: 1.25em;
  margin: -0.625em 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: inherit;
  transform-origin: 0% 100%;
  transition: transform var(--lido-transition-duration-fast) ease;
  transition-property: transform, opacity, color;
  transform: translateY(-14px) scale(0.75);
  opacity: 1;

}

.input-label-default {
  color: var(--lido-color-text-secondary);
}

.input-label-accent {
  color: var(--lido-color-accent-contrast-secondary);
}

.input-content {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  font-size: var(--lido-font-size-xs);
  border: 1px solid;
  border-radius: var(--lido-border-radius-lg);
  transition: border-color var(--lido-transition-duration-fast) ease;
}

.input-content:not(.input-content-disabled) {
  &:hover {
    z-index: 1;
  }

  &:focus-within {
    z-index: 2;
    border-color: var(--lido-color-border-active);

    .input-label {
      color: var(--lido-color-primary);
      opacity: 1;
    }
  }
}

.input-content-color-default {
  background: var(--lido-color-control-bg);
  border-color: var(--lido-color-border);
  color: var(--lido-color-text);

  &.input-content-disabled {
    background: var(--lido-color-background);
  }

  &:not(.input-content-disabled) {
    &:hover {
      border-color: var(--lido-color-border-hover);
    }
  }
}

.input-content-color-accent {
  background: var(--lido-color-accent-control-bg);
  border-color: var(--lido-color-accent-border);
  color: var(--lido-color-accent-text);

  &.input-content-disabled {
    background: var(--lido-color-control-bg);
  }

  &:not(.input-content-disabled) {
    &:hover {
      border-color: var(--lido-color-accent-border-hover);
    }
  }
}

.input-content-variant-default {
  padding-top: 17px;
  padding-bottom: 17px;

  & .input-decorator.input-decorator-left,
  & .input-decorator.input-decorator-right {
    margin-top: -17px;
    margin-bottom: -17px;
  }
}

.input-content-variant-small {
  padding-top: 9px;
  padding-bottom: 9px;

  & .input-decorator.input-decorator-left,
  & .input-decorator.input-decorator-right {
    padding-top: -9px;
    padding-bottom: -9px;
  }
}

.input-content-active {
  &,
  &:hover,
  &:focus-within {
    z-index: 2;
    border-color: var(--lido-color-border-active);

    /* stylelint-disable-next-line no-descending-specificity */
    .input-label {
      color: var(--lido-color-primary);
      opacity: 1;
    }
  }
}

.input-content-warning {
  &,
  &:hover,
  &:focus-within {
    border-color: var(--lido-color-warning);

    /* stylelint-disable-next-line no-descending-specificity */
    .input-label {
      color: var(--lido-color-warning);
    }
  }
}

.input-content-error {
  &,
  &:hover,
  &:focus-within {
    border-color: var(--lido-color-error);

    /* stylelint-disable-next-line no-descending-specificity */
    .input-label {
      color: var(--lido-color-error);
    }
  }
}

.input {
  top: 0;
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.43em;
  padding: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  position: relative;

  &::placeholder {
    transition: opacity var(--lido-transition-duration-fast) ease;
  }
}

.input-labeled {
  top: 8px;

  &:not(:focus):placeholder-shown {
    & + .input-label {
      transform: scale(1);
      opacity: 0.5;

      &.input-color-default {
        color: var(--lido-color-text-secondary);
      }

      &.input-color-accent {
        color: var(--lido-color-accent-contrast-secondary);
      }
    }

    &::placeholder {
      opacity: 0;
    }
  }
}

.input-color-default {
  color: var(--lido-color-text);

  &:disabled {
    color: var(--lido-color-text-secondary);
  }

  &::placeholder {
    color: var(--lido-color-text-secondary);
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 100px var(--lido-color-control-bg) inset !important;
    color: var(--lido-color-text) !important;
    -webkit-text-fill-color: var(--lido-color-text) !important;
  }

  &:-internal-autofill-selected {
    color: var(--lido-color-text) !important;
    -webkit-text-fill-color: var(--lido-color-text) !important;
  }
}

.input-color-accent {
  color: var(--lido-color-accent-text);
  opacity: 1;

  &:disabled {
    color: var(--lido-color-accent-text);
    opacity: 0.5;
  }

  &::placeholder {
    color: var(--lido-color-accent-text);
    opacity: 0.5;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 100px var(--lido-color-accent-control-bg) inset !important;
    color: var(--lido-color-accent-contrast) !important;
    -webkit-text-fill-color: var(--lido-color-accent-contrast) !important;
  }

  &:-internal-autofill-selected {
    color: var(--lido-color-accent-contrast) !important;
    -webkit-text-fill-color: var(--lido-color-accent-contrast) !important;
  }
}

.input-control-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.input-group {
  display: inline-flex;
  position: relative;
}

.input-group-fullwidth {
  width: 100%;
}

.input-group-content {
  display: flex;
  width: 100%;

  & > .input-wrapper {
    margin: 0 -1px 0 0;

    &:first-child .input-content {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child .input-content {
      margin-right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.textarea-label {
  top: 10px;
}

.textarea {
  resize: none;
}
