.wrapper {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  box-sizing: border-box;
  cursor: text;

  &.disabled {
    cursor: default;
  }

  &.fullwidth {
    width: 100%;
  }
}

.decorator {
  flex-grow: 0;
  flex-shrink: 0;
  cursor: inherit;
  display: flex;
  align-items: center;

  &.left {
    padding-right: 16px;
  }

  &.right {
    padding-left: 16px;
  }
}

.message {
  margin-top: 6px;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 100%;
  line-height: 1.6em;
  font-weight: 400;
  font-size: var(--lido-font-size-xxs);
  border-radius: var(--lido-border-radius-sm);
  padding: 6px 10px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  text-overflow: ellipsis;
  z-index: 3;

  &.bordered {
    margin-top: 5px;
    left: -1px;
    max-width: calc(100% + 2px);
  }

  &.error {
    background: var(--lido-color-error);
    color: var(--lido-color-error-contrast);
    box-shadow: var(--lido-shadows-sm) var(--lido-color-shadow-light);
  }

  &.warning {
    background: var(--lido-color-warning);
    color: var(--lido-color-warning-contrast);
    box-shadow: var(--lido-shadows-sm) var(--lido-color-shadow-light);
  }

  &.success {
    background: var(--lido-color-success);
    color: var(--lido-color-success-contrast);
    box-shadow: var(--lido-shadows-sm) var(--lido-color-shadow-light);
  }
}

.label {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 1em;
  line-height: 1.25em;
  margin: -0.625em 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: inherit;
  transform-origin: 0% 100%;
  transition: transform var(--lido-transition-duration-fast) ease;
  transition-property: transform, opacity, color;
  transform: translateY(-14px) scale(0.75);
  opacity: 1;

  &.colorDefault {
    color: var(--lido-color-text-secondary);
  }

  &.colorAccent {
    color: var(--lido-color-accent-contrast-secondary);
  }
}

@layer content {
  .content {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
    font-size: var(--lido-font-size-xs);
    border: 1px solid;
    border-radius: var(--lido-border-radius-lg);
    transition: border-color var(--lido-transition-duration-fast) ease;
  }
}

.content:not(.disabled) {
  &:hover {
    z-index: 1;
  }

  &:focus-within {
    z-index: 2;
    border-color: var(--lido-color-border-active);

    .label {
      color: var(--lido-color-primary);
      opacity: 1;
    }
  }
}

@layer content-color {
  .content.colorDefault {
    background: var(--lido-color-control-bg);
    border-color: var(--lido-color-border);
    color: var(--lido-color-text);

    &.disabled {
      background: var(--lido-color-background);
    }

    &:not(.disabled) {
      &:hover {
        border-color: var(--lido-color-border-hover);
      }
    }
  }

  .content.colorAccent {
    background: var(--lido-color-accent-control-bg);
    border-color: var(--lido-color-accent-border);
    color: var(--lido-color-accent-text);

    &.disabled {
      background: var(--lido-color-control-bg);
    }

    &:not(.disabled) {
      &:hover {
        border-color: var(--lido-color-accent-border-hover);
      }
    }
  }
}

@layer content-variant {
  .content.variantDefault {
    padding-top: 17px;
    padding-bottom: 17px;

    & .decorator.left,
    & .decorator.right {
      margin-top: -17px;
      margin-bottom: -17px;
    }
  }

  .content.variantSmall {
    padding-top: 9px;
    padding-bottom: 9px;

    & .decorator.left,
    & .decorator.right {
      padding-top: -9px;
      padding-bottom: -9px;
    }
  }
}

.content.active {
  &,
  &:hover,
  &:focus-within {
    z-index: 2;
    border-color: var(--lido-color-border-active);

    /* stylelint-disable-next-line no-descending-specificity */
    .label {
      color: var(--lido-color-primary);
      opacity: 1;
    }
  }
}

.content.warning {
  &,
  &:hover,
  &:focus-within {
    border-color: var(--lido-color-warning);

    /* stylelint-disable-next-line no-descending-specificity */
    .label {
      color: var(--lido-color-warning);
    }
  }
}

.content.error {
  &,
  &:hover,
  &:focus-within {
    border-color: var(--lido-color-error);

    /* stylelint-disable-next-line no-descending-specificity */
    .label {
      color: var(--lido-color-error);
    }
  }
}

.input {
  top: 0;
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.43em;
  padding: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  position: relative;

  &::placeholder {
    transition: opacity var(--lido-transition-duration-fast) ease;
  }
}

.input.labeled {
  top: 8px;

  &:not(:focus):placeholder-shown {
    & + .label {
      transform: scale(1);
      opacity: 0.5;

      &.colorDefault {
        color: var(--lido-color-text-secondary);
      }

      &.colorAccent {
        color: var(--lido-color-accent-contrast-secondary);
      }
    }

    &::placeholder {
      opacity: 0;
    }
  }
}

.input.colorDefault {
  color: var(--lido-color-text);

  &:disabled {
    color: var(--lido-color-text-secondary);
  }

  &::placeholder {
    color: var(--lido-color-text-secondary);
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 100px var(--lido-color-control-bg) inset !important;
    color: var(--lido-color-text) !important;
    -webkit-text-fill-color: var(--lido-color-text) !important;
  }

  &:-internal-autofill-selected {
    color: var(--lido-color-text) !important;
    -webkit-text-fill-color: var(--lido-color-text) !important;
  }
}

.input.colorAccent {
  color: var(--lido-color-accent-text);
  opacity: 1;

  &:disabled {
    color: var(--lido-color-accent-text);
    opacity: 0.5;
  }

  &::placeholder {
    color: var(--lido-color-accent-text);
    opacity: 0.5;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 100px var(--lido-color-accent-control-bg) inset !important;
    color: var(--lido-color-accent-contrast) !important;
    -webkit-text-fill-color: var(--lido-color-accent-contrast) !important;
  }

  &:-internal-autofill-selected {
    color: var(--lido-color-accent-contrast) !important;
    -webkit-text-fill-color: var(--lido-color-accent-contrast) !important;
  }
}

.controlWrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.group {
  display: inline-flex;
  position: relative;

  &.fullwidth {
    width: 100%;
  }
}

.groupContent {
  display: flex;
  width: 100%;

  & > .wrapper {
    margin: 0 -1px 0 0;

    &:first-child .content {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child .content {
      margin-right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.textareaLabel {
  top: 10px;
}

.textarea {
  resize: none;
}
