.range {
  width: 100%;
  background-color: transparent;
  appearance: none;
  position: absolute;
  margin: 0;
  top: 56px;
  left: 0;
  right: 0;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    background: transparent;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 2px;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    margin-top: -8px;
    width: 18px;
    height: 18px;
    background: #fff;
    box-shadow:
      0 0.5px 4px rgb(0 0 0 / 12%),
      0 6px 13px rgb(0 0 0 / 12%);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    appearance: none;
  }

  &::-moz-range-track {
    background: #00a3ff;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 2px;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: #fff;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
  }

  &::-ms-track {
    background: transparent;
    color: transparent;
    width: 100%;
    height: 2px;
    cursor: pointer;
  }
}

.wrapper {
  position: relative;
}

.slider {
  position: relative;
  height: 56px;
  padding: 16px 20px;
  box-sizing: border-box;
  background: var(--lido-color-accentControlBg);
  overflow: hidden;
}

.slider.border {
  border: 1px solid var(--lido-color-border);
  border-radius: 10px;
}

.track {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0;
  background: var(--lido-color-primary);
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--lido-color-text);
  opacity: 0.5;
}

.labelButton {
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--lido-color-text);
  opacity: 0.5;
  cursor: pointer;
}
