.block {
  @mixin font-description;

  background: var(--lido-ui-color-text-inverted);
  color: var(--lido-ui-color-text-primary);
  font-weight: var(--lido-ui-font-weight-regular);
  line-height: 1.6em;
  border-radius: var(--lido-ui-border-radius-4);
  margin: 0;
  padding: 10px 4px;
  box-shadow: none;
}
