.tabs {
  position: relative;
  border-radius: 34px;
  border: 1px solid var(--lido-ui-color-borders-default, rgb(19 18 23 / 10%));
  display: inline-flex;
  gap: 6px;
  padding: 6px;
  width: fit-content;
}

.selection {
  position: absolute;
  top: 0;
  transition: left 0.3s ease;
  background-color: var(--lido-ui-color-buttons-primary);
  pointer-events: none;
  border-radius: 34px;
}

.tab {
  @mixin font-body-large-medium-static;

  position: relative;
  color: var(--lido-ui-color-buttons-primary);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;
  display: flex;
  gap: 8px;
  white-space: nowrap;

  &.active {
    @mixin font-body-large-bold-static;

    &,
    &:hover {
      color: var(--lido-ui-color-text-inverted);
    }
  }

  &:hover {
    color: var(--lido-ui-color-text-primary-hover);
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    color: var(--lido-ui-color-text-quaternary);
  }
}

.shape--text {
  min-height: 56px;
  padding: 12px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
}

.shape--icon {
  flex: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: initial;
  width: 56px;
  height: 56px;
  padding: 12px;

  > * {
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center center;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

/* Size variants */
.size--s {
  .tab {
    min-height: 36px;
    padding: 2px 14px;
  }

  .shape--icon {
    min-height: initial;
    width: 36px;
    height: 36px;
    padding: 4px;
  }
}

.size--m {
  .tab {
    min-height: 48px;
    padding: 8px 22px;
  }

  .shape--icon {
    min-height: initial;
    width: 48px;
    height: 48px;
    padding: 8px;
  }
}

.size--l {
  .tab {
    min-height: 56px;
    padding: 12px 26px;
  }

  .shape--icon {
    min-height: initial;
    width: 56px;
    height: 56px;
    padding: 12px;
  }
}
