.tooltip {
  position: relative;

  &:hover {
    .content {
      display: block;
    }
  }
}

.content {
  z-index: 9;
  display: none;
  position: absolute;
  width: max-content;
  max-width: 224px;
  box-sizing: border-box;
  padding: 24px;
  background-color: var(--lido-color-primary-72);
  backdrop-filter: blur(20px);
  color: var(--lido-color-secondary);
  border-radius: var(--lido-border-radius-24);

  &.right {
    top: 0;
    transform: translateY(-45%);
    left: calc(100% + 10px);
  }

  &.bottomRight {
    top: 0;
    left: calc(100% + 10px);
  }

  &.topRight {
    bottom: calc(100% - 2px);
    left: calc(100% - 3px);
  }

  &.bottomCenter {
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
  }

  &.cardBottom {
    top: calc(100% + 5px);
    left: 0;
    transform: translateX(-60%);
  }
}

.icon-black {
  color: var(--lido-color-primary-72);
  transition: color .5s;

  &:hover {
    color: var(--lido-color-primary-50);
    transition: color .3s;
  }
}