.box {
  --local-bg: var(--lido-app-ui-color-tint-neutral);
  --local-icon-color: var(--lido-app-ui-color-icons-default);
  --local-headline-color: var(--lido-app-ui-color-text-default);
  --local-description-color: var(--lido-app-ui-color-text-secondary);

  display: flex;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: var(--lido-app-ui-border-radius-card);
  background-color: var(--local-bg);
  font-family: var(--lido-app-ui-font-family);
}

.icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  color: var(--local-icon-color);
}

.icon > * {
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
}

.headline {
  @mixin font-body-semibold;

  color: var(--local-headline-color);
}

.description {
  @mixin font-body;

  color: var(--local-description-color);
}

.attention {
  --local-bg: var(--lido-app-ui-color-tint-info);
  --local-icon-color: var(--lido-app-ui-color-icons-info);
  --local-headline-color: var(--lido-app-ui-color-text-info);
  --local-description-color: var(--lido-app-ui-color-text-info);
}

.warning {
  --local-bg: var(--lido-app-ui-color-tint-warning);
  --local-icon-color: var(--lido-app-ui-color-text-warning);
  --local-headline-color: var(--lido-app-ui-color-text-warning);
  --local-description-color: var(--lido-app-ui-color-text-warning);
}
