.box {
  --local-bg: var(--lido-app-ui-color-tint-neutral);
  --local-icon-color: var(--lido-app-ui-color-icons-secondary);
  --local-headline-color: var(--lido-app-ui-color-text-default);
  --local-description-color: var(--lido-app-ui-color-text-secondary);

  display: flex;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: var(--lido-app-ui-border-radius-card);
  background-color: var(--local-bg);
  font-family: var(--lido-app-ui-font-family);
}

.icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  color: var(--local-icon-color);
}

.icon > * {
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
}

.headline {
  font-family: var(--lido-app-ui-font-family);
  font-size: var(--lido-app-ui-font-size-label);
  font-weight: var(--lido-app-ui-font-weight-semibold);
  line-height: 24px;
  letter-spacing: var(--lido-app-ui-letter-spacing-label);
  color: var(--local-headline-color);
}

.description {
  font-family: var(--lido-app-ui-font-family);
  font-size: var(--lido-app-ui-font-size-label);
  font-weight: var(--lido-app-ui-font-weight-regular);
  line-height: 24px;
  letter-spacing: var(--lido-app-ui-letter-spacing-label);
  color: var(--local-description-color);
}

.info {
  --local-bg: var(--lido-app-ui-color-tint-info);
  --local-icon-color: var(--lido-app-ui-color-icons-info);
  --local-headline-color: var(--lido-app-ui-color-text-info);
  --local-description-color: var(--lido-app-ui-color-text-info);
}

.warning {
  --local-bg: var(--lido-app-ui-color-tint-warning);
  --local-icon-color: var(--lido-app-ui-color-icons-warning);
  --local-headline-color: var(--lido-app-ui-color-text-warning);
  --local-description-color: var(--lido-app-ui-color-text-warning);
}

.error {
  --local-bg: var(--lido-app-ui-color-tint-error);
  --local-icon-color: var(--lido-app-ui-color-icons-error);
  --local-headline-color: var(--lido-app-ui-color-text-error);
  --local-description-color: var(--lido-app-ui-color-text-error);
}

.success {
  --local-bg: var(--lido-app-ui-color-tint-success);
  --local-icon-color: var(--lido-app-ui-color-icons-success);
  --local-headline-color: var(--lido-app-ui-color-text-success);
  --local-description-color: var(--lido-app-ui-color-text-success);
}
