.address {
  position: relative;
  display: inline-block;
  font-weight: 400;
}

.full {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
}

.trimmed {
  user-select: none;
  pointer-events: none;
}