.dropdown {
  font-family: var(--lido-ui-font-family);
  position: relative;
}

.select {
  font-family: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--deprecated-lido-ui-color-borders-fog);
  border-radius: var(--lido-ui-border-radius-50);
  font-size: var(--lido-ui-font-size-control-not-adaptive);
  line-height: var(--lido-ui-line-height-control-not-adaptive);
  color: var(--deprecated-lido-ui-color-primary);
  transition:
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &::placeholder {
    color: var(--deprecated-lido-ui-color-primary-50);
    transition: color 0.3s ease-in-out;
  }

  &.sizeL {
    padding: 17px 58px 17px 26px;
  }

  &.sizeXL {
    padding: 22px 58px 22px 32px;
  }

  &:hover {
    border-color: var(--deprecated-lido-ui-color-borders-water-static);
    color: var(--deprecated-lido-ui-color-primary);
  }

  &:hover::placeholder {
    color: var(--deprecated-lido-ui-color-primary);
  }

  &.open {
    color: var(--deprecated-lido-ui-color-primary-50);
    border-color: var(--deprecated-lido-ui-color-borders-water-static);
  }

  &:disabled {
    color: var(--deprecated-lido-ui-color-primary-20);
    border-color: var(--deprecated-lido-ui-color-borders-fog);
    cursor: not-allowed;
  }
}

.icon {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 24px / 2);
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;

  &.open {
    transform: rotate(180deg);
  }

  &.disabled {
    cursor: initial;

    path {
      fill: var(--deprecated-lido-ui-color-primary-20) !important;
    }
  }

  &.sizeL {
    right: 18px;
  }

  &.sizeXL {
    right: 24px;
  }
}
