.select-icon input {
  width: 0;
}

.select-icon-decorator {
  margin-right: -24px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  justify-self: stretch;
}
