.select {
  &,
  input {
    user-select: none;
    cursor: 'pointer';

    &::selection {
      background: transparent;
    }
  }

  input {
    appearance: none;
    overflow: hidden;
  }

  &.disabled {
    &,
    input {
      cursor: 'default';
    }
  }

  &.small {
    input {
      font-size: var(--lido-font-size-xxs);
      line-height: 1.7em;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      font-weight: 800;
    }
  }
}
