:root {
  --lido-shadows-xxl: 0px 8px 44px 0px;
  --lido-shadows-xl: 0px 8px 32px 0px;
  --lido-shadows-lg: 0px 8px 24px 0px;
  --lido-shadows-md: 0px 4px 16px 0px;
  --lido-shadows-sm: 0px 4px 12px 0px;
  --lido-shadows-xs: 0px 4px 8px 0px;
}