:root {
  --lido-font-size-xxxs: 10px;
  --lido-font-size-xxs: 12px;
  --lido-font-size-xs: 14px;
  --lido-font-size-sm: 16px;
  --lido-font-size-md: 18px;
  --lido-font-size-lg: 20px;
  --lido-font-size-xl: 26px;
  --lido-font-size-xxl: 32px;
  --lido-font-size-xxxl: 40px;
  --lido-font-size-xxxxl: 50px;
}
