.banner {
  z-index: 100;
  position: fixed;
  bottom: 40px;
  width: 820px;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px 24px 14px 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 68px;
  border: 1px solid var(--lido-color-borders-fog, rgb(0 0 0 / 10%));
  background: rgb(255 255 255 / 72%);
  box-shadow: 0 24px 80px 0 rgb(138 136 196 / 32%);
  backdrop-filter: blur(30px);
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  min-width: 110px;
}

.text {
  font-size: var(--lido-font-size-body);
  line-height: var(--lido-line-height-body);
  color: var(--lido-color-text);
}

[data-lido-theme='dark'] {
  .banner {
    border: 1px solid rgb(255 255 255 / 10%);
    background: rgb(78 79 103 / 72%);
    box-shadow: 0 24px 80px 0 rgb(73 74 95 / 32%);
  }
}

@media (width <= 899px) {
  .banner {
    border-radius: unset;
    width: unset;
    transform: unset;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px 60px;
    flex-direction: column;
    text-align: center;
  }
}

@media (width <= 599px) {
  .banner {
    padding: 24px 20px;
  }
}
