.link {
  font-family: var(--lido-ui-font-family);
  text-decoration: none;
  color: var(--lido-ui-color-text-link);
  transition: color 0.5s;
}

.link:hover {
  color: var(--lido-ui-color-buttons-secondary-hover);
  transition: color 0.3s;
}

.link:not(:disabled):focus-visible {
  text-decoration: underline;
  outline: none;
  text-underline-offset: 4px;
}

.inherit {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.5s;
}

.inherit:hover,
.inherit:focus {
  color: var(--lido-ui-color-text-link);
  transition: color 0.3s;
}
