.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.graphicGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.graphic {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.spinner {
  width: 64px;
  height: 64px;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.circleSuccess {
  background-color: var(--lido-app-ui-color-icons-success);
}

.circleError {
  background-color: var(--lido-app-ui-color-icons-error);
}

.circleWarning {
  background-color: var(--lido-app-ui-color-icons-warning);
}

.circleIcon {
  width: 32px;
  height: 32px;
  color: var(--lido-app-ui-palette-white-a900);
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title {
  font-family: var(--lido-app-ui-font-family);
  font-size: var(--lido-app-ui-font-size-h3);
  font-weight: var(--lido-app-ui-font-weight-medium);
  line-height: var(--lido-app-ui-line-height-h3);
  letter-spacing: var(--lido-app-ui-letter-spacing-h3);
  color: var(--lido-app-ui-color-text-default);
  text-align: center;
}

.amount {
  display: flex;
  justify-content: center;
}

.message {
  width: 100%;
  font-family: var(--lido-app-ui-font-family);
  font-size: var(--lido-app-ui-font-size-label);
  line-height: var(--lido-app-ui-line-height-label);
  letter-spacing: var(--lido-app-ui-letter-spacing-label);
  color: var(--lido-app-ui-color-text-tertiary);
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
