.card {
  font-family: var(--lido-ui-font-family);
  position: relative;
  padding: 32px;
  color: var(--lido-ui-color-text-tertiary);
  width: 100%;
  border-radius: var(--lido-ui-border-radius-40);
  border: 1px solid var(--lido-ui-color-borders-default);
  justify-content: space-between;
  display: block;
  transition: none;
  background: var(--lido-ui-color-backgrounds-cards);

  &:hover {
    border: 1px solid var(--lido-ui-color-borders-hover);
    background: var(--lido-ui-color-backgrounds-cards-hover);

    .headerLogos {
      display: flex;
    }

    .titleItem {
      color: var(--lido-ui-color-text-primary);
    }
  }
}

.titleImage {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid var(--lido-ui-color-borders-default);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 15px;

  & > * {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
  }
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.headerLogos {
  display: none;

  & > *:not(:first-child) {
    margin-left: -10px;
  }
}

.headerLogo {
  width: 38px;
  height: 38px;
  background: var(--lido-ui-color-backgrounds-grey);
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.empty {
    @mixin font-body-large;

    border-radius: 40px;
    background: rgb(0 0 0 / 6%);
    backdrop-filter: blur(12px);
    color: var(--lido-ui-color-text-tertiary);
  }
}

.tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  border-radius: 100%;
  border: 1px solid var(--lido-ui-color-borders-default);
  box-sizing: border-box;
}

.button {
  margin-top: 20px;

  &.empty {
    padding-left: 0;
  }
}

.titleItem {
  @mixin font-h5;

  color: var(--lido-ui-color-text-primary);
  margin-bottom: 4px;
}

.descriptionItem {
  @mixin font-body;

  color: var(--lido-ui-color-text-tertiary);
  margin-bottom: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (width <= 899px) {
  .card {
    padding: 24px;

    &:hover {
      .headerLogos {
        display: none;
      }
    }
  }

  .titleImage {
    width: 68px;
    height: 68px;
    padding: 0;
  }
}
