/* Color Styles  */
:root,
[data-lido-theme='light'] {
  --lido-ui-color-text-primary: rgb(0 0 0 / 100%);
  --lido-ui-color-text-primary-hover: rgb(0 133 255 / 100%);
  --lido-ui-color-text-secondary: rgb(19 18 23 / 72%);
  --lido-ui-color-text-secondary-hover: rgb(0 133 255 / 72%);
  --lido-ui-color-text-tertiary: rgb(19 18 23 / 50%);
  --lido-ui-color-text-tertiary-hover: rgb(0 133 255 / 60%);
  --lido-ui-color-text-quaternary: rgb(19 18 23 / 32%);
  --lido-ui-color-text-quaternary-hover: rgb(0 133 255 / 32%);
  --lido-ui-color-text-inverted: rgb(255 255 255 / 100%);
  --lido-ui-color-text-link: rgb(0 133 255 / 100%);
  --lido-ui-color-text-success: rgb(17 182 144 / 100%);
  --lido-ui-color-text-warning: rgb(235 153 37 / 100%);
  --lido-ui-color-text-error: rgb(215 71 88 / 100%);
  --lido-ui-color-icons-primary: rgb(0 0 0 / 100%);
  --lido-ui-color-icons-secondary: rgb(19 18 23 / 72%);
  --lido-ui-color-icons-tertiary: rgb(19 18 23 / 50%);
  --lido-ui-color-icons-quaternary: rgb(19 18 23 / 32%);
  --lido-ui-color-icons-inverted: rgb(255 255 255 / 100%);
  --lido-ui-color-icons-active: rgb(0 133 255 / 100%);
  --lido-ui-color-icons-success: rgb(17 182 144 / 100%);
  --lido-ui-color-icons-error: rgb(215 71 88 / 100%);
  --lido-ui-color-icons-warning: rgb(235 153 37 / 100%);
  --lido-ui-color-backgrounds-surface: rgb(255 249 249 / 100%);
  --lido-ui-color-backgrounds-cards: rgb(255 255 255 / 70%);
  --lido-ui-color-backgrounds-cards-hover: rgb(255 255 255 / 100%);
  --lido-ui-color-backgrounds-error: rgb(215 71 88 / 20%);
  --lido-ui-color-backgrounds-sucess: rgb(41 195 140 / 20%);
  --lido-ui-color-backgrounds-warning: rgb(250 189 105 / 20%);
  --lido-ui-color-backgrounds-grey: rgb(19 18 23 / 4%);
  --lido-ui-color-backgrounds-highlighted: rgb(0 133 255 / 20%);
  --lido-ui-color-backgrounds-featured: radial-gradient(
    50% 50% at 50% 50%,
    rgb(0 133 255 / 0%) 0%,
    rgb(0 133 255 / 5%) 65.39%,
    rgb(0 133 255 / 20%) 100%
  );
  --lido-ui-color-backgrounds-tooltip: rgb(2 3 7 / 90%);
  --lido-ui-color-borders-default: rgb(19 18 23 / 10%);
  --lido-ui-color-borders-active: rgb(19 18 23 / 20%);
  --lido-ui-color-borders-inverted: rgb(255 255 255 / 30%);
  --lido-ui-color-borders-hover: rgb(0 133 255 / 50%);
  --lido-ui-color-borders-success: rgb(41 195 140 / 40%);
  --lido-ui-color-borders-error: rgb(215 71 88 / 40%);
  --lido-ui-color-borders-warning: rgb(250 189 105 / 40%);
  --lido-ui-color-borders-featured: linear-gradient(
    180deg,
    rgb(85 0 255 / 60%) 8.17%,
    rgb(85 0 255 / 30%) 50.48%,
    rgb(85 0 255 / 20%) 100%
  );
  --lido-ui-color-buttons-primary: rgb(0 0 0 / 100%);
  --lido-ui-color-buttons-text-primary-hover: rgb(255 255 255 / 100%);
  --lido-ui-color-buttons-primary-hover: rgb(0 133 255 / 100%);
  --lido-ui-color-buttons-secondary: rgb(0 133 255 / 100%);
  --lido-ui-color-buttons-secondary-hover: rgb(0 163 255 / 100%);
  --lido-ui-color-buttons-disabled: rgb(19 18 23 / 10%);
  --lido-ui-color-buttons-text-static: rgb(255 255 255 / 100%);
}

[data-lido-theme='dark'] {
  --lido-ui-color-text-primary: rgb(255 255 255 / 100%);
  --lido-ui-color-text-secondary: rgb(255 255 255 / 72%);
  --lido-ui-color-text-tertiary: rgb(255 255 255 / 50%);
  --lido-ui-color-text-quaternary: rgb(255 255 255 / 32%);
  --lido-ui-color-text-inverted: rgb(0 0 0 / 100%);
  --lido-ui-color-text-link: rgb(0 133 255 / 100%);
  --lido-ui-color-text-success: rgb(17 182 144 / 100%);
  --lido-ui-color-text-warning: rgb(255 213 114 / 100%);
  --lido-ui-color-text-error: rgb(255 89 109 / 100%);
  --lido-ui-color-text-primary-hover: rgb(0 133 255 / 100%);
  --lido-ui-color-text-secondary-hover: rgb(0 133 255 / 72%);
  --lido-ui-color-text-tertiary-hover: rgb(0 133 255 / 60%);
  --lido-ui-color-text-quaternary-hover: rgb(0 133 255 / 32%);
  --lido-ui-color-icons-primary: rgb(255 255 255 / 100%);
  --lido-ui-color-icons-secondary: rgb(255 255 255 / 72%);
  --lido-ui-color-icons-tertiary: rgb(255 255 255 / 50%);
  --lido-ui-color-icons-quaternary: rgb(255 255 255 / 32%);
  --lido-ui-color-icons-inverted: rgb(0 0 0 / 100%);
  --lido-ui-color-icons-active: rgb(0 133 255 / 100%);
  --lido-ui-color-icons-success: rgb(17 182 144 / 100%);
  --lido-ui-color-icons-warning: rgb(255 213 114 / 100%);
  --lido-ui-color-icons-errror: rgb(255 89 109 / 100%);
  --lido-ui-color-backgrounds-surface: rgb(2 3 7 / 100%);
  --lido-ui-color-backgrounds-cards: rgb(255 255 255 / 8%);
  --lido-ui-color-backgrounds-grey: rgb(255 255 255 / 12%);
  --lido-ui-color-backgrounds-cards-hover: rgb(255 255 255 / 12%);
  --lido-ui-color-backgrounds-success: rgb(41 195 140 / 30%);
  --lido-ui-color-backgrounds-warning: rgb(255 176 91 / 30%);
  --lido-ui-color-backgrounds-error: rgb(255 89 109 / 30%);
  --lido-ui-color-backgrounds-highlighted: rgb(0 133 255 / 30%);
  --lido-ui-color-backgrounds-featured: radial-gradient(
    50% 50% at 50% 50%,
    rgb(69 166 255 / 0%) 0%,
    rgb(69 166 255 / 5%) 65.39%,
    rgb(69 166 255 / 30%) 100%
  );
  --lido-ui-color-backgrounds-tooltip: rgb(255 255 255 / 10%);
  --lido-ui-color-borders-default: rgb(255 255 255 / 14%);
  --lido-ui-color-borders-inverted: rgb(0 0 0 / 10%);
  --lido-ui-color-borders-active: rgb(255 255 255 / 32%);
  --lido-ui-color-borders-hover: rgb(0 133 255 / 50%);
  --lido-ui-color-borders-success: rgb(41 195 140 / 40%);
  --lido-ui-color-borders-warning: rgb(255 176 91 / 40%);
  --lido-ui-color-borders-error: rgb(255 89 109 / 40%);
  --lido-ui-color-borders-featured: linear-gradient(
    180deg,
    rgb(85 0 255 / 80%) 8.17%,
    rgb(85 0 255 / 50%) 50.48%,
    rgb(85 0 255 / 40%) 100%
  );
  --lido-ui-color-buttons-primary: rgb(255 255 255 / 100%);
  --lido-ui-color-buttons-text-primary-hover: rgb(255 255 255 / 100%);
  --lido-ui-color-buttons-primary-hover: rgb(0 133 255 / 100%);
  --lido-ui-color-buttons-secondary: rgb(0 133 255 / 100%);
  --lido-ui-color-buttons-secondary-hover: rgb(0 163 255 / 100%);
  --lido-ui-color-buttons-disabled: rgb(255 255 255 / 10%);
  --lido-ui-color-buttons-text-static: rgb(255 255 255 / 100%);
}
