/* Color Styles  */
:root,
[data-lido-theme='light'] {
  --lido-ui-color-text-primary: #000;
  --lido-ui-color-text-primary-hover: #0085ff;
  --lido-ui-color-text-secondary: rgba(19 18 23 / 72%);
  --lido-ui-color-text-secondary-hover: rgba(0 133 255 / 72%);
  --lido-ui-color-text-tertiary: rgba(19 18 23 / 50%);
  --lido-ui-color-text-tertiary-hover: rgba(0 133 255 / 60%);
  --lido-ui-color-text-quaternary: rgba(19 18 23 / 32%);
  --lido-ui-color-text-quaternary-hover: rgba(0 133 255 / 32%);
  --lido-ui-color-text-inverted: #fff;
  --lido-ui-color-text-link: #0085ff;
  --lido-ui-color-text-success: #11b690;
  --lido-ui-color-text-warning: #eb9925;
  --lido-ui-color-text-error: #d74758;
  --lido-ui-color-icons-primary: #000;
  --lido-ui-color-icons-secondary: rgba(19 18 23 / 72%);
  --lido-ui-color-icons-tertiary: rgba(19 18 23 / 50%);
  --lido-ui-color-icons-quaternary: rgba(19 18 23 / 32%);
  --lido-ui-color-icons-inverted: #fff;
  --lido-ui-color-icons-active: #0085ff;
  --lido-ui-color-icons-success: #11b690;
  --lido-ui-color-icons-error: #d74758;
  --lido-ui-color-icons-warning: #eb9925;
  --lido-ui-color-backgrounds-surface: #fff9f9;
  --lido-ui-color-backgrounds-cards: rgba(255 255 255 / 70%);
  --lido-ui-color-backgrounds-cards-hover: #fff;
  --lido-ui-color-backgrounds-error: rgba(215 71 88 / 20%);
  --lido-ui-color-backgrounds-sucess: rgba(41 195 140 / 20%);
  --lido-ui-color-backgrounds-warning: rgba(250 189 105 / 20%);
  --lido-ui-color-backgrounds-grey: rgba(19 18 23 / 4%);
  --lido-ui-color-backgrounds-highlighted: rgba(0 133 255 / 20%);
  --lido-ui-color-backgrounds-featured: radial-gradient(
    50% 50% at 50% 50%,
    rgb(0 133 255 / 0%) 0%,
    rgb(0 133 255 / 5%) 65.39%,
    rgb(0 133 255 / 20%) 100%
  );
  --lido-ui-color-borders-default: rgba(19 18 23 / 10%);
  --lido-ui-color-borders-active: rgba(19 18 23 / 20%);
  --lido-ui-color-borders-inverted: rgba(255 255 255 / 30%);
  --lido-ui-color-borders-hover: rgba(0 133 255 / 50%);
  --lido-ui-color-borders-success: rgba(41 195 140 / 40%);
  --lido-ui-color-borders-error: rgba(215 71 88 / 40%);
  --lido-ui-color-borders-warning: rgba(250 189 105 / 40%);
  --lido-ui-color-borders-featured: linear-gradient(
    180deg,
    rgb(85 0 255 / 60%) 8.17%,
    rgb(85 0 255 / 30%) 50.48%,
    rgb(85 0 255 / 20%) 100%
  );
  --lido-ui-color-buttons-primary: #000;
  --lido-ui-color-buttons-primary-hover: #0085ff;
  --lido-ui-color-buttons-secondary: #0085ff;
  --lido-ui-color-buttons-secondary-hover: #00a3ff;
  --lido-ui-color-buttons-disabled: rgba(19 18 23 / 10%);
}

[data-lido-theme='dark'] {
  --lido-ui-color-text-primary: #fff;
  --lido-ui-color-text-secondary: rgba(255 255 255 / 72%);
  --lido-ui-color-text-tertiary: rgba(255 255 255 / 50%);
  --lido-ui-color-text-quaternary: rgba(255 255 255 / 32%);
  --lido-ui-color-text-inverted: #000;
  --lido-ui-color-text-link: #0085ff;
  --lido-ui-color-text-success: #11b690;
  --lido-ui-color-text-warning: #ffd572;
  --lido-ui-color-text-error: #ff596d;
  --lido-ui-color-text-primary-hover: #0085ff;
  --lido-ui-color-text-secondary-hover: rgba(0 133 255 / 72%);
  --lido-ui-color-text-tertiary-hover: rgba(0 133 255 / 60%);
  --lido-ui-color-text-quaternary-hover: rgba(0 133 255 / 32%);
  --lido-ui-color-icons-primary: #fff;
  --lido-ui-color-icons-secondary: rgba(255 255 255 / 72%);
  --lido-ui-color-icons-tertiary: rgba(255 255 255 / 50%);
  --lido-ui-color-icons-quaternary: rgba(255 255 255 / 32%);
  --lido-ui-color-icons-inverted: #000;
  --lido-ui-color-icons-active: #0085ff;
  --lido-ui-color-icons-success: #11b690;
  --lido-ui-color-icons-warning: #ffd572;
  --lido-ui-color-icons-errror: #ff596d;
  --lido-ui-color-backgrounds-surface: #020307;
  --lido-ui-color-backgrounds-cards: rgba(255 255 255 / 8%);
  --lido-ui-color-backgrounds-grey: rgba(255 255 255 / 12%);
  --lido-ui-color-backgrounds-cards-hover: rgba(255 255 255 / 12%);
  --lido-ui-color-backgrounds-success: rgba(41 195 140 / 30%);
  --lido-ui-color-backgrounds-warning: rgba(255 176 91 / 30%);
  --lido-ui-color-backgrounds-error: rgba(255 89 109 / 30%);
  --lido-ui-color-backgrounds-highlighted: rgba(0 133 255 / 30%);
  --lido-ui-color-backgrounds-featured: radial-gradient(
    50% 50% at 50% 50%,
    rgb(69 166 255 / 0%) 0%,
    rgb(69 166 255 / 5%) 65.39%,
    rgb(69 166 255 / 30%) 100%
  );
  --lido-ui-color-borders-default: rgba(255 255 255 / 14%);
  --lido-ui-color-borders-inverted: rgba(0 0 0 / 10%);
  --lido-ui-color-borders-active: rgba(255 255 255 / 32%);
  --lido-ui-color-borders-hover: rgba(0 133 255 / 50%);
  --lido-ui-color-borders-success: rgba(41 195 140 / 40%);
  --lido-ui-color-borders-warning: rgba(255 176 91 / 40%);
  --lido-ui-color-borders-error: rgba(255 89 109 / 40%);
  --lido-ui-color-borders-featured: linear-gradient(
    180deg,
    rgb(85 0 255 / 80%) 8.17%,
    rgb(85 0 255 / 50%) 50.48%,
    rgb(85 0 255 / 40%) 100%
  );
  --lido-ui-color-buttons-primary: #fff;
  --lido-ui-color-buttons-primary-hover: #0085ff;
  --lido-ui-color-buttons-secondary: #0085ff;
  --lido-ui-color-buttons-secondary-hover: #00a3ff;
  --lido-ui-color-buttons-disabled: rgba(255 255 255 / 10%);
}
