:root {
  /* Static colors */
  --deprecated-lido-ui-color-primary-6-static: #1312170f;
  --deprecated-lido-ui-color-primary-5-static: #1312170d;
  --deprecated-lido-ui-color-primary-72-static: #131217b8;
  --deprecated-lido-ui-color-primary-7-static: rgb(0 0 0 / 50%);
  --deprecated-lido-ui-color-white-static: #fff;
  --deprecated-lido-ui-color-accent-ocean-static: #0085ff;
  --deprecated-lido-ui-color-accent-light-ocean-static: #0085ff33;
  --deprecated-lido-ui-color-accent-sky-static: #00a3ff;
  --deprecated-lido-ui-color-accent-coral-static: #ff8e76;
  --deprecated-lido-ui-color-accent-light-coral-static: #ff8e7633;
  --deprecated-lido-ui-color-accent-berry-static: #d74758;
  --deprecated-lido-ui-color-accent-light-berry-static: #d7475833;
  --deprecated-lido-ui-color-accent-leaf-static: #29c38c;
  --deprecated-lido-ui-color-accent-light-leaf-static: #29c38c33;
  --deprecated-lido-ui-color-borders-mist-static: #3c425447;
  --deprecated-lido-ui-color-borders-water-static: #0085ff99;
}

/* theme */
:root,
[data-lido-theme='light'] {
  /* colors */
  --deprecated-lido-ui-color-background: #fff;
  --deprecated-lido-ui-color-foreground: #fff;
  --deprecated-lido-ui-color-shadow-light: rgb(39 56 82 / 8%);
  --deprecated-lido-ui-color-text: #273852;
  --deprecated-lido-ui-color-text-secondary: #7a8aa0;
  --deprecated-lido-ui-color-primary: #000;
  --deprecated-lido-ui-color-primary-reverse: #fff;
  --deprecated-lido-ui-color-primary-72: #131217b8;
  --deprecated-lido-ui-color-primary-50: #13121780;
  --deprecated-lido-ui-color-primary-50-reverse: #ffffff80;
  --deprecated-lido-ui-color-primary-32: #13121752;
  --deprecated-lido-ui-color-primary-20: #13121733;
  --deprecated-lido-ui-color-primary-8: #13121714;
  --deprecated-lido-ui-color-borders-fog: #0000001a;
  --deprecated-lido-ui-color-borders-fog-reverse: #ffffff52;
  --deprecated-lido-ui-color-borders-mist: #3c425447;

  /* Specific colors */
  --deprecated-lido-ui-color-background-dropdown: var(
    --deprecated-lido-ui-color-borders-fog-reverse
  );
  --deprecated-lido-ui-color-background-dropdown-hover: #00a3ff14;
}

[data-lido-theme='dark'] {
  /* colors */
  --deprecated-lido-ui-color-background: #000;
  --deprecated-lido-ui-color-foreground: #34343d;
  --deprecated-lido-ui-color-shadow-light: rgb(0 0 0 / 25%);
  --deprecated-lido-ui-color-text: #fff;
  --deprecated-lido-ui-color-text-secondary: rgb(255 255 255 / 80%);
  --deprecated-lido-ui-color-primary: #fff;
  --deprecated-lido-ui-color-primary-reverse: #000;
  --deprecated-lido-ui-color-primary-72: #ffffffb8;
  --deprecated-lido-ui-color-primary-50: #ffffff80;
  --deprecated-lido-ui-color-primary-50-reverse: #13121780;
  --deprecated-lido-ui-color-primary-32: #ffffff52;
  --deprecated-lido-ui-color-primary-20: #fff3;
  --deprecated-lido-ui-color-primary-8: #ffffff14;
  --deprecated-lido-ui-color-primary-6: #1312170f;
  --deprecated-lido-ui-color-primary-5: #1312170d;
  --deprecated-lido-ui-color-borders-fog: #ffffff52;
  --deprecated-lido-ui-color-borders-fog-reverse: #0000001a;
  --deprecated-lido-ui-color-borders-mist: var(
    --deprecated-lido-ui-color-primary-32
  );

  /* Specific colors */
  --deprecated-lido-ui-color-background-dropdown: var(
    --deprecated-lido-ui-color-primary-8
  );
  --deprecated-lido-ui-color-background-dropdown-hover: var(
    --deprecated-lido-ui-color-accent-light-ocean-static
  );
}
