@import url('./typography-mixins.css');

/* Typography Classes */
h1,
h2,
h3,
h4,
h5,
body,
p {
  color: var(--deprecated-lido-ui-color-primary);
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-style: normal;
}

/* h1 */
.ui-typography-h1 {
  @mixin font-h1;
}

/* h2 */
.ui-typography-h2 {
  @mixin font-h2;
}

/* h3 */
.ui-typography-h3 {
  @mixin font-h3;
}

/* h3.medium */
.ui-typography-h3.medium {
  @mixin font-h3-medium;
}

/* h4 */
.ui-typography-h4 {
  @mixin font-h4;
}

/* h4.medium */
.ui-typography-h4.medium {
  @mixin font-h4-medium;
}

/* h5 */
.ui-typography-subheader {
  @mixin font-subheader;
}

/* h5.bold */
.ui-typography-subheader.bold {
  @mixin font-subheader-bold;
}

/* input */

/* label */
.ui-typography-control {
  @mixin font-control;
}

/* input.bold */

/* label.bold */
.ui-typography-control.bold {
  @mixin font-control-bold;
}

/* body */
.ui-typography-body {
  @mixin font-body;
}

.ui-typography-body.bold {
  @mixin font-body-bold;
}

/* p */
.ui-typography-description {
  @mixin font-description;
}

/* p.bold */
.ui-typography-description.bold {
  @mixin font-description-bold;
}

@media (width <= 899px) {
  /* h1 */
  .ui-typography-h1 {
    letter-spacing: normal;
  }
}
