/* OLD COLORS SHOULD BE SLOWLY DEPRECATED AND REMOVED */
@import url('colors-deprecated.css');
@import url('colors.css');

:root {
  --lido-ui-border-radius-4: 4px;
  --lido-ui-border-radius-40: 40px;
  --lido-ui-border-radius-50: 50px;
  --lido-ui-border-radius-60: 60px;
  --lido-ui-border-radius-70: 70px;

  /* easings */
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* theme */
:root,
[data-lido-theme='light'] {
  --lido-ui-light-mode-visibility: visible;
  --lido-ui-dark-mode-visibility: hidden;
  --lido-ui-light-display: initial;
  --lido-ui-dark-display: none;
}

[data-lido-theme='dark'] {
  --lido-ui-light-mode-visibility: hidden;
  --lido-ui-dark-mode-visibility: visible;
  --lido-ui-light-display: none;
  --lido-ui-dark-display: initial;
}
