:root {
  /* Static colors */
  --lido-ui-color-primary-6-static: #1312170f;
  --lido-ui-color-primary-5-static: #1312170d;
  --lido-ui-color-primary-72-static: #131217b8;
  --lido-ui-color-primary-7-static: rgb(0 0 0 / 50%);
  --lido-ui-color-white-static: #fff;
  --lido-ui-color-accent-ocean-static: #0085ff;
  --lido-ui-color-accent-light-ocean-static: #0085ff33;
  --lido-ui-color-accent-sky-static: #00a3ff;
  --lido-ui-color-accent-coral-static: #ff8e76;
  --lido-ui-color-accent-light-coral-static: #ff8e7633;
  --lido-ui-color-accent-berry-static: #d74758;
  --lido-ui-color-accent-light-berry-static: #d7475833;
  --lido-ui-color-accent-leaf-static: #29c38c;
  --lido-ui-color-accent-light-leaf-static: #29c38c33;
  --lido-ui-color-borders-mist-static: #3c425447;
  --lido-ui-color-borders-water-static: #0085ff99;

  /* border radius */
  --lido-ui-border-radius-4: 4px;
  --lido-ui-border-radius-40: 40px;
  --lido-ui-border-radius-50: 50px;
  --lido-ui-border-radius-60: 60px;
  --lido-ui-border-radius-70: 70px;

  /* easings */
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* theme */
:root,
[data-lido-theme='light'] {
  --lido-ui-light-mode-visibility: visible;
  --lido-ui-dark-mode-visibility: hidden;
  --lido-ui-light-display: initial;
  --lido-ui-dark-display: none;

  /* colors */
  --lido-ui-color-background: #fff;
  --lido-ui-color-foreground: #fff;
  --lido-ui-color-shadow-light: rgb(39 56 82 / 8%);
  --lido-ui-color-text: #273852;
  --lido-ui-color-text-secondary: #7a8aa0;
  --lido-ui-color-primary: #000;
  --lido-ui-color-primary-reverse: #fff;
  --lido-ui-color-primary-72: #131217b8;
  --lido-ui-color-primary-50: #13121780;
  --lido-ui-color-primary-50-reverse: #ffffff80;
  --lido-ui-color-primary-32: #13121752;
  --lido-ui-color-primary-20: #13121733;
  --lido-ui-color-primary-8: #13121714;
  --lido-ui-color-borders-fog: #0000001a;
  --lido-ui-color-borders-fog-reverse: #ffffff52;
  --lido-ui-color-borders-mist: #3c425447;

  /* Specific colors */
  --lido-ui-color-background-dropdown: var(--lido-ui-color-borders-fog-reverse);
  --lido-ui-color-background-dropdown-hover: #00a3ff14;
}

[data-lido-theme='dark'] {
  --lido-ui-light-mode-visibility: hidden;
  --lido-ui-dark-mode-visibility: visible;
  --lido-ui-light-display: none;
  --lido-ui-dark-display: initial;

  /* colors */
  --lido-ui-color-background: #000;
  --lido-ui-color-foreground: #34343d;
  --lido-ui-color-shadow-light: rgb(0 0 0 / 25%);
  --lido-ui-color-text: #fff;
  --lido-ui-color-text-secondary: rgb(255 255 255 / 80%);
  --lido-ui-color-primary: #fff;
  --lido-ui-color-primary-reverse: #000;
  --lido-ui-color-primary-72: #ffffffb8;
  --lido-ui-color-primary-50: #ffffff80;
  --lido-ui-color-primary-50-reverse: #13121780;
  --lido-ui-color-primary-32: #ffffff52;
  --lido-ui-color-primary-20: #fff3;
  --lido-ui-color-primary-8: #ffffff14;
  --lido-ui-color-primary-6: #1312170f;
  --lido-ui-color-primary-5: #1312170d;
  --lido-ui-color-borders-fog: #ffffff52;
  --lido-ui-color-borders-fog-reverse: #0000001a;
  --lido-ui-color-borders-mist: var(--lido-ui-color-primary-32);

  /* Specific colors */
  --lido-ui-color-background-dropdown: var(--lido-ui-color-primary-8);
  --lido-ui-color-background-dropdown-hover: var(
    --lido-ui-color-accent-light-ocean-static
  );
}
