.foreground {
  background: var(--lido-ui-color-foreground);
  color: var(--lido-ui-color-text-secondary);
}

.background {
  background: var(--lido-ui-color-background);
  color: var(--lido-ui-color-text-secondary);
}

.flat {
  box-shadow: none;
}

.block {
  font-weight: var(--lido-ui-font-weight-regular);
  font-size: var(--lido-ui-font-size-description);
  line-height: 1.6em;
  border-radius: var(--lido-ui-border-radius-4);
  margin: 0;
  padding: 10px 4px;
}
