name: Deploy lido-ui-4

on:
  push:
    branches:
      - lido-ui-v4

permissions:
  contents: write
  pages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    env:
      NODE_OPTIONS: --max_old_space_size=4096
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Build Components
        run: yarn build

      # - name: Publish to NPM
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      #   run: |
      #     echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      #     yarn release

      - name: Build Storybook
        run: yarn build-storybook

      # - name: Deploy to GitHub Pages
      #   uses: lidofinance/github-pages-action@v1
      #   with:
      #     branch: gh-pages
      #     folder: storybook-static
