name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set up node
        uses: actions/setup-node@v2
      - name: Install dependencies
        run: yarn install --immutable
      - name: Run tests
        run: yarn test
