name: "Visual Tests - Stroybook"

on:
  push:
  workflow_dispatch:

jobs:
  chromatic:
    name: Run Chromatic visual tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22.17.0
      - name: Install dependencies
        run: yarn
      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_TOKEN }}
